[2018-07-04 00:00] mikaelarguedas opened #2 "[launch_ros] launch_ros node should have an anonymous name"
Currently if 2 launch files are launched using `launch_ros`, 2 nodes named `launch_ros` are created.

The nodes should have different names.
In the other `ros2` tools it is currently done by using the process ID https://github.com/ros2/ros2cli/blob/4059a2f84addbbaab121b7f92b872dd5acffa4b3/ros2cli/ros2cli/node/direct.py#L36-L37'

[2018-09-15 00:52] dhood opened #4 "Don't require node name to be specified if parameter dictionary passed to Node action"
The node namespace is always specified when launching a Node action (defaults to `/`), but the node name is optional.

When parameters are passed to a Node action as a dictionary, they are written to a yaml file. Yaml files of parameters currently require the node name to be specified.

Because of this, if a dictionary of parameters is passed to a Node action, there is a requirement that the node

[2019-01-11 18:13] sloretz opened #6 "Launch composable C++ nodes"
## Feature request

This is a feature request for launching multiple composable nodes into the same process. The acceptance criteria for this ticket is limited to launching dynamically composable rclcpp non-lifecycle nodes into a container process.

#### Feature description

`launch_ros` must pass arguments to the composable nodes where "arguments" means:

* the information that can be passed via

[2019-03-22 17:49] mikaelarguedas opened #3 "[ros2launch] `ros2 launch` should autocomplete only packages that have launch files"
Currently `ros2 launch` autocompletes with the list of all packages.

We could provide a way to register launchfiles to the index in CMake and use that resource to autocomplete only packages that have launchfiles, and only files that are launch files.

[2019-03-22 18:01] dhood opened #5 "Cleanup temporary parameter files when passing parameter dict to Node actions"
Parameters can be passed to Node actions as dictionaries as of https://github.com/ros2/launch/pull/138. This is done by writing a temporary parameter yaml file. The temporary file's name should be kept track of and deleted on shutdown to avoid files taking up too much space (hypothetically, in the case where nodes are set to respawn on shutdown, if there's an error that keeps restarting the node,

[2019-03-22 18:02] stonier opened #7 "[launch_ros] node_name overrides for a multi-node rclpy process"
#### Feature description

A means of setting `node_name` overrides for a multi-node rclpy process such as that given in #204.

#### Implementation considerations

This also brings into question the naming of the class `launch_ros.actions.Node` since it currently can launch a multi-node process. Perhaps that should fail on trying to launch a multi-node process and for that, use a `launch_ros.action

[2019-04-11 15:19] ivanpauno opened #12 "Node action failing with some special parameters"
## Bug report

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - From source
- Version or commit hash:
  - launch_ros(#448846d9361f39bdde94d1a41679abac3a1e124a)
- DDS implementation:
  - fast-rtps
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
This is a modified version of `launch_ros/examples/pub_sub_launch.py` [here](https://github.com/ros2/launch_ros/blo

[2019-04-11 16:29] ivanpauno opened #13 "Node action failing with 'env' argument"
## Bug report

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - From source
- Version or commit hash:
  - launch_ros(#448846d9361f39bdde94d1a41679abac3a1e124a)
- DDS implementation:
  - fast-rtps
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue
This is a modified version of `launch_ros/examples/pub_sub_launch.py` [here](https://github.com/ros2/launch_ros/blo

[2019-04-11 18:28] wjwwood commented on #13
It overrides the environment, it doesn't append to it. You're removed a needed environment variable by doing it this way. Instead you'd way to first copy `os.environ`, then add your environment variable, and then pass that to execute node.

[2019-04-11 19:09] #13 closed

[2019-04-11 19:35] ivanpauno commented on #12
Ok, I saw that the 'of' world is automatically recognized as a bool, and I used it on all my previous tests (super fun).
I think that it shouldn't be recognized like that ([yaml boolean](https://yaml.org/type/bool.html)).
Also, it wouldn't be strange someone writing 'On' in a middle of a list of strings, so I think the rcl yaml parser should handle it.

I will open an issue later in rcl. I'm closi

[2019-04-11 19:35] #12 closed

[2019-04-11 22:24] wjwwood commented on #13
I will say, this is confusing default behavior, so maybe we should change the default to override specific keys, but are "updated" into a copy of the `os.environ` by default. That would avoid this pitfall, and we could still have an "override existing environment variables" option to enable the current behavior when someone actually wants that.

[2019-04-11 22:31] dirk-thomas commented on #13
The current API mimics the Python API of similar functionality (e.g. the `subprocess` API). I would rather stick to one consistent API than using different behavior and/or multiple options.

[2019-04-11 22:47] wjwwood commented on #13
Yes, that's why it is the way it is now, but on the other hand, if you're extending the environment from an XML file it might not be so convenient express that you want to copy the existing environment, update it, and then pass that.

[2019-04-12 12:31] ivanpauno commented on #13
I exactly ran into this problem when working in the XML front-end. Is not natural to clear all the environment when you add a `<env>` tag. Although this could be worked around in the XML parsing, I prefer having a consistent behavior between the xml-frontend and the programmatic launch system.

If you also agree, I will reopen and solve it.

[2019-04-12 13:43] dirk-thomas commented on #13
I would argue that our Python API should follow the style of other Python API to match behavior. Everything else is unexpected.

An `env` tag in the XML should be implemented to extend/update the existing environment which I would think is the natural expectation for that interface.

[2019-04-13 00:06] wjwwood commented on #13
What about a different name? Then it's not overriding what other Python API's solve? Perhaps `additional_env` or something similar?

Well, right now the behavior of env in our API is unexpected for our users, and I don't blame them, I think it's counter intuitive as well.

So I agree in general that we should try to match the Python API where it makes sense, but in this case I don't know that the

[2019-04-13 02:30] dirk-thomas commented on #13
Sounds good to me.

[2019-04-15 12:16] ivanpauno commented on #13
Sounds good, I will apply this change to both `Node` and `ExecuteProcess` classes.
Also I will add an additional bool argument `new_env`, which allows starting from a clean environment.

[2019-04-15 16:17] dirk-thomas commented on #13
I would rather keep `env` as is (a full environment) and add a new keyword argument `additional_env` which can will be used to update `env` (or the current content of `os.environ` if `env` isn't provided explicitly).

[2019-04-16 00:49] wjwwood commented on #13
I think `new_env` and `additional_env` have the benefit of forcing the user to go "wait, what?" and read the difference, but I'm also ok with `env` and `additional_env`, working together as @dirk-thomas described.

So @ivanpauno please do as @dirk-thomas suggested unless he changes his mind.

[2019-04-16 00:52] dirk-thomas commented on #13
Sounds good too

[2019-04-23 13:45] mjcarroll opened #19 "Standalone Component Action"
## Feature request

#### Feature description

Add a launch action that will allow for a single component to be loaded into a component container.  This would be a simplified representation or alias to the larger component actions.

[2019-04-24 16:37] hidmic commented on #19
So, currently one can do:

[code]

 @dirk-thomas @mjcarroll do you guys think that's too verbose? How do you imagine it could be? I wonder about the potential redundancy with the `Node` action once every ROS2 node becomes a composable node (which is where we're going if I'm not mistaken).

[2019-04-24 16:47] sloretz commented on #19
IIUC correctly the desire is for a standalone executable to be generated for components, something created from a template that has a `main()` and instantiates the component class. If so, that would remove the need for a standalone component action because `launch_ros.actions.Node` could be used instead.

[2019-04-30 21:29] hidmic commented on #6
@sloretz @mjcarroll can we close this one?

[2019-04-30 21:35] mjcarroll commented on #6
Yup, I believe so.

[2019-04-30 21:44] #6 closed

[2019-05-20 06:54] AndreasAZiegler opened #29 "roslaunch fails reading yaml file"
I working with ROS2 Dashing on Ubuntu Bionic. I want to pass parameters to a node with a yaml file.

While I was looking for a solution, I came across a solution for ROS2 crystal on this post https://stackoverflow.com/questions/53917469/how-to-launch-a-node-with-a-parameter-in-ros2.

Unfortunately, that does not seem to work under ROS2 dashing. I created a fork of the ROS2 realsense driver (https:

[2019-05-20 22:16] Karsten1987 opened #30 "launch file should interpret LaunchConfiguration values as yaml"
## Bug report

**Required Info:**

- Operating System:
  - OSX, but should apply to all
- Installation type:
  - source
- Version or commit hash:
  - HEAD

#### Steps to reproduce issue

It is currently not trivial to set a boolean parameter via a launch file.
[code]

#### Expected behavior
Robot state publisher sets the boolean parameter `use_sim_time` to true

#### Actual behavior
Robot state pu

[2019-05-21 17:28] #30 closed

[2019-05-27 03:46] MengNan-Li commented on #2
I have the same question. Starting multiple launch files in ROS2 will launch multiple '/launch ros' nodes, which will cause an error when executing the "ros2 param list" command.

[2019-05-27 05:46] MengNan-Li commented on #2
ros2 param list

Traceback (most recent call last):
  File "/opt/ros/crystal/bin/ros2", line 11, in <module>
    load_entry_point('ros2cli==0.6.3', 'console_scripts', 'ros2')()
  File "/opt/ros/crystal/lib/python3.6/site-packages/ros2cli/cli.py", line 69, in main
    rc = extension.main(parser=parser, args=args)
  File "/opt/ros/crystal/lib/python3.6/site-packages/ros2param/command/param.py", line

[2019-05-29 15:50] dirk-thomas commented on #2
This should be fixed in the upcoming Dashing release.

[2019-06-10 19:32] rotu opened #34 "Trying to launch a lifecycle node with launch_ros.actions.Node fails silently"
Passing a lifecycle node executable to a `launch_ros.actions.Node` fails rather silently as in the below example. The mistake is hard to spot and should throw an obvious error pointing out the mistake (in this case that node_executable lifecycle_talker does not spin a lifecycle node).

[code]

[2019-06-11 19:02] ivanpauno commented on #34
I can't reproduce the issue, it works well for me.
Could you explain it further?
Also, add system details (Installed from source or binaries, etc).

[2019-06-11 20:32] rotu commented on #34
I'm on master branch. Closing this ticket as user error - it was not clear to me whether you could use `Node` action to launch a `LifecycleNode`. Turns out it works just fine, though I'm not sure whether this is by design or by accident.

[2019-06-11 20:32] #34 closed

[2019-06-11 21:26] ivanpauno commented on #34
It is be design. `LifecycleNode` action does the same that `Node` action, and also emits some events that can be handled by user added event handlers in the launch file. If you are not using that, you can just use `Node`.
I would always use `LifecycleNode` action for lifecycle nodes, just for clarity.

See:
https://github.com/ros2/launch_ros/blob/c86ee0b7c74af84c3b54eebede1501b7735431df/launch_ros

[2019-06-21 21:04] artivis opened #36 "[ros2launch] Optional 'package_name' when full path is provided"
## Feature request

#### Feature description

Ability to call `launch` omitting the `package_name` argument given that the launch file full path is provided.

E.g.
[code]

Beside mimicking `roslaunch`, this feature comes handy when one wants to run a launch file that is not in a proper ROS package. Even more so since launch files are now Python scripts.
#### Implementation considerations

I do not

[2019-06-21 22:11] artivis opened #37 "[ros2launch] Making `launch-prefix` easily accessible"
## Feature request

#### Feature description

The `launch-prefix` option comes handy when debugging/profiling, however it is not 'easily' accessible as of now, I am referring to [this example](https://github.com/ros2/launch/blob/20d5f06395192e4ce47ab162c0de0f9ab74a60d4/launch/examples/launch_counters.py#L71). This scheme offers a fine granularity as which node should benefit what prefix, however s

[2019-06-24 22:55] #4 closed

[2019-07-02 01:16] rotu opened #38 "ros2 launch crashes on list-valued parameter when used with Composable Nodes"
In trying to use `launch_ros` with composable nodes, I got a hard crash trying to process a parameter file. The syntax that it choked on is not even used by my composable node, but it looks like `to_parameters_list` crashed the entire launch file nonetheless.

Debug output of `ros2 launch` with crash trace:
[code]

Relevant part of parameter file `hardware.yaml`:
[code]

Relevant part of launch fi

[2019-07-02 01:39] rotu commented on #38
This issue is also mentioned here: https://github.com/ros2/rclcpp/issues/715#issuecomment-490425249

[2019-07-17 21:01] dirk-thomas opened #75 "secondary launch adding components into running containers"
For modularity the user might want to split a launch file into separate files which are started independently. One example would be a `base_launch.py` file which gets started once and a `dev_launch.py` file which contains stuff which the developer iterates on which is being started / stopped repeatedly.

For nodes running in separate processes these launch files can be started independently. What

[2019-07-18 12:57] ralph-lange opened #41 "Make OnStateTransition work with the new ComposableNode descriptions"
## Feature request

#### Feature description
In Dashing, the ComposableNodeContainer action and the corresponding ComposableNode description were introduced. A ComposableNode description also takes a managed node (aka lifecycle node). However, configuring and activating a lifecycle node by a ComposableNode description (instead of a LifecycleNode action) fails:

[code]

Using a matcher is also not

[2019-07-24 20:56] orduno opened #43 "Namespace not pushed by `PushRosNamespace`"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Source
- Version or commit hash:
  - 68337f836b9dfbf4bed2b9c3b3ae03d21570cf13
- DDS implementation:
  -  Fast-RTPS

#### Steps to reproduce issue

Given the following `talker_launch.py`

[code]

And the following file with name `include_launch.py` that includes `talker_launch.py`:

[code]

#### Expecte

[2019-07-25 00:14] wjwwood commented on #43
@ivanpauno do you have time to have a look at this?

[2019-07-25 00:21] wjwwood commented on #29
Can you provide the launch file which is trying to pass the parameter file (ideally a link to a specific commit and not a branch which can change overtime)? I'll close this until there is an update. Sorry for the delay in replying initially.

[2019-07-25 00:21] #29 closed

[2019-07-25 00:24] wjwwood commented on #38
Which version of launch are you using? master or Dashing or Crystal maybe?

[2019-07-25 00:24] rotu commented on #38
I'm using master

[2019-07-25 14:15] ivanpauno commented on #43
@orduno Thanks for opening the issue!
https://github.com/ros2/launch_ros/pull/44 should fix the problem.
Could you try it?

[2019-07-25 16:33] orduno commented on #43
@ivanpauno #44 works for me, thanks!

[2019-07-25 20:29] ivanpauno opened #45 "Add a way of grouping remapping rules and parameters"
## Feature request

#### Feature description

We don't have a `SetRemapping` action.
It could be useful, is the same remapping has to be applied in many nodes.

#### Implementation considerations

We could store them in the `LaunchContext`. The group action will do its magic for limiting their scope.

Previous discussion: https://github.com/ros2/ros2_documentation/pull/302#discussion_r306931142

-

[2019-07-25 20:35] #43 closed

[2019-07-25 22:09] ryanewel opened #46 "Can't use launch argument for node output"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - From apt

#### Steps to reproduce issue
Using a launch file like:
[code]
Then run:
[code]
#### Expected behavior
I would expect the output to default to 'screen', but be settable from the cli with `output:=log` or from another launch file that includes this one.
#### Actual behavior
Launch fails with m

[2019-07-30 18:17] sloretz opened #49 "Add more convenient Include action"
## Feature request

This is a request to make it simpler to include a launch file from a ROS package. Currently it looks like this:

[code]

But it could look like this:

[code]

#### Implementation considerations

This would remove the need to know the full path to the launch file. `FindPackage` might return a path that's shared with many other packages in a merged workspace (like `/opt/ros/dashi

[2019-07-30 19:08] IanTheEngineer commented on #49
As an alternative to searching for a file directly, it may make sense to detect the root of the package's `install` or `src` directory, and reach into the relative path from there:
[code]
similar to[ `rospkg`](http://docs.ros.org/independent/api/rospkg/html/python_api.html):

[code]
or the ROS1 commandline / launchfile syntax with the [rospack comand](http://docs.ros.org/independent/api/rospkg/htm

[2019-07-30 22:08] orduno opened #50 "Namespace defined on rclcpp::node is not applied"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Source
- Version or commit hash:
  - d388bba43fd4681661ab991110e96c01d142cb91
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

Given the following modified `MinimalTimer` node from [ROS2 example package](https://github.com/ros2/examples/tr

[2019-07-31 22:00] orduno commented on #50
@ivanpauno would you mind taking a look a this? I think the `PushRosNamespace` feature introduced this bug.

[2019-08-01 14:22] ivanpauno commented on #50
Thanks for reporting the issue!
https://github.com/ros2/launch_ros/pull/51 should solve the problem

[2019-08-06 12:36] ivanpauno commented on #50
Solved in https://github.com/ros2/launch_ros/pull/51.

[2019-08-06 12:36] #50 closed

[2019-08-08 02:13] jacobperron opened #53 "Can't launch node with empty args"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - 7e4f43156c729839cc8e6dd986f32bcac169a25b
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

[code]

Uncomment the node tags in the above launch file (one at a time) and launch.

#### Expected behavior

All nodes i

[2019-08-09 21:15] flynneva commented on #38
have you tried adding output='screen' to each of your composablenodes?

[2019-08-20 10:55] xhuan28 opened #55 "yaml file passed to launch file doesn't take effect"
**Required Info:**

- Operating System:
  - Ubuntu18.04
- Installation type:
  - source
- Version or commit hash:
  - 84cdecd361a3ea274f77f0c1ec2f2c02097fe372
- DDS implementation:
  - fast-rtps
- Client library (if applicable):
  - rclcpp

#### Steps to reproduce issue

[code]

#### Expected behavior

#### Actual behavior

#### Additional information

- launch file

[code]

- yaml file:
[code]

[2019-08-20 11:05] xhuan28 commented on #55
More information:
But the parameters can be set successfully through dictionary one by one. Is there anything wrong with the namespace?
e.g.
[code]

[2019-08-20 18:32] orduno opened #56 "Create `PushRemapping`"
## Feature request

#### Feature description

In the spirit of `PushRosNamespace`, a `PushRemapping` action would add a remapping to be applied to all `Node`s within the scope.

It solves the problem of applying the same remapping (possibly conditioned) to multiple nodes (on possibly on different launch descriptions).

#### Implementation considerations

This involves creating a `PushRemapping`, p

[2019-08-29 07:47] xhuan28 commented on #55
I have found out the root cause of this issue. It is caused by different naming rules between yaml file and direct dictionary parameter. A parameter from a yaml file will combine its name as a string like **"/ns.my_node.ros__parameters.my_param"**, while passing a parameter as a dictionary directly, the name should be "my_param". Parameter system takes these two parameters for different parameters

[2019-08-29 17:08] mabelzhang commented on #55
Related issue https://github.com/ros2/rclcpp/issues/715

[2019-08-29 17:38] ivanpauno opened #60 "Add `ros_arguments` to `Node` action constructor"
## Feature request

#### Feature description
See https://github.com/ros2/rmw_fastrtps/issues/265#issuecomment-526181148.

[2019-08-29 21:27] sloretz opened #61 "[xml frontend] Can't launch node without name attribute"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu bionic
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Save the following as `test.launch.xml`

[code]

Run it with
[code]

#### Expected behavior

Node would successfully launch using whatever name is i

[2019-09-03 17:42] rotu opened #64 "Node constructor annotations are too opaque"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - master
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
[code]

Or use an IDE that shows type annotation information and view the annotation info for the `LifecycleNode` class.

#### Expected behavior
Help will

[2019-09-11 15:00] deitry commented on #64
This is what I get as help tooltip in my IDE (VS Code):
[code]
As ROS2 user, I can't say your way is stricly better since it's easier to look at source file instead of getting through verbosity of your approach. It seems to me that both ways are not good enough to get real help from them.

I guess the real problem is lack of examples that would cover all the features of some technology like launch

[2019-09-11 19:07] jacobperron opened #70 "[frontend] FindPackage substitution not concatenated with surrounding text"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - 897cae8f6bf5602e250f9e521497b9eb70e14a85
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Create a launch file with the following content and launch it.
[code]

#### Expected behavior

I would expect to see outp

[2019-09-19 15:39] hidmic opened #74 "Bad interaction between launch frontend and YAML parameters"
Both launch XML and YAML frontends currently coexist with the YAML parsing of substitution text in `Node` parameters. This has caused us issues in the past (e.g. https://github.com/ros2/launch/pull/226#discussion_r300031818), forcing additional quotes as escape mechanisms. At the time we deemed this as a situation we'd rarely find in the field.

-------

Well,  as you can see in https://github.com

[2019-09-19 15:45] dirk-thomas commented on #74
Since this affects how you have to write a launch file I would think this needs to be fixes asap before more packages start using this.

[2019-09-19 17:50] ivanpauno commented on #70
I couldn't reproduce the error.
I'm updating my repos two double check.

@jacobperron Can you confirm if you still can reproduce the error? Thanks!

[2019-09-19 18:40] ivanpauno commented on #74
A think we should have a custom class for a parameter description, instead of using a native type to represent them. There are a bunch of reasons:
- Conditional inclusion of parameters isn't now possible.
  As I commented [here](https://github.com/ros2/launch/issues/290#issuecomment-520823768) it would be much easier if we have a custom class for that.
- If we would have a class that could be cons

[2019-09-19 20:11] jacobperron commented on #70
Still happens for me, here's what the launch output is for me:

[code]

versus what I expect it to be:

[code]

It's a subtle difference:

[code]

[2019-09-20 13:11] ivanpauno commented on #70
@jacobperron this is quite strange. I have updated and rebuilt and I still cannot reproduce it.
I'm testing your example and also this other:
[code]
Can you test it?
I will also open a PR adding a test and check what CI says.

[2019-09-20 15:11] ivanpauno commented on #70
@jacobperron could you take a look to https://github.com/ros2/launch_ros/pull/76?
This seems to be working ok both locally to me and in CI.

[2019-09-20 21:29] jacobperron commented on #70
I'm surprised you can't reproduce. It also happens with other substitutions, e.g. `eval`:
[code]

I've starting digging into the code, and it looks like the issue stems from interaction between the parser and `ExecuteProcess`. Adding prints before and after [this line](https://github.com/ros2/launch/blob/a2f3255aa7a9823fbf330269f170d1350d8a0378/launch/launch/actions/execute_process.py#L262) I see

[2019-09-20 21:53] jacobperron commented on #70
What do you think about changing the grammar to separate keep together any text containing a substitution? See [this commit](https://github.com/ros2/launch/commit/d4207fd09f7263b2855156ca8d4ee82e1e0cbd63) that adds proposed tests:

[code]

I guess we'd have adapt substitutions to also account for neighboring text, or introduce a new substitution type that handles this case. Thoughts?

[2019-09-21 12:06] eric1221bday commented on #75
I've been dealing with this issue recently, and looking at the current implementation of `LoadComposableNodes`. It seems like some simple modifications should suffice to make this use case work. The class takes in a full `ComposableNodeContainer` but only really needs the `node_name` of that container.

Perhaps we can simply modify or add a new argument `target_container_name`, which, if filled, w

[2019-09-22 00:06] eric1221bday commented on #38
Might need to get OP to re-check, but perhaps this is resolved by https://github.com/ros2/rclpy/pull/389/?

I have been able to get loading lists from YAML file via launch files work with this fix.

[2019-09-23 05:36] #38 closed

[2019-09-23 13:00] ivanpauno commented on #70
@jacobperron wow I read this bad twice, sorry.
Addressing this issue will help to solve the problem: https://github.com/ros2/launch/issues/263

[2019-09-23 13:00] ivanpauno commented on #70
Transferring to https://github.com/ros2/launch.

[2019-09-23 19:00] ivanpauno commented on #61
It should been fixed after https://github.com/ros2/launch_ros/pull/73.
Now `node_name` is the remapping, and `name` refers to the executable name.

[2019-09-23 20:36] jacobperron commented on #53
I think this was resolved by #73.

[2019-09-23 20:36] #53 closed

[2019-10-03 17:51] mabelzhang commented on #64
Thank you for the suggestions! Feel free to open a PR to improve the help message.

On a side note, we are currently actively working on a set of tutorials for ROS 2 to improve the user and developer experience. Keep an eye out :)

[2019-10-03 18:21] rotu commented on #64
@mabelzhang This seems like low-hanging fruit to improve the user and developer experience. I wrote it up as a github issue so you guys could easily implement it.

[2019-10-03 18:29] dirk-thomas commented on #64
@rotu If it can be so easily implemented please consider to create a pull request for it.

[2019-10-03 18:52] rotu commented on #64
@dirk-thomas because I thought someone with more familiarity and insight into the codebase would be a better fit for this development.

[2019-10-03 21:45] rotu commented on #64
https://github.com/ros/rosdistro/pull/22535
I tried to start on this PR and I just don't think I can deal with this dependency hell in using a simple PIP library >.<. I'm just too frustrated with the ROS way of doing Python to fix this issue myself. :-(

[2019-10-10 09:35] xhuan28 opened #84 "Is it possible to support set node options in launch file?"
I have two ComposableNode in launch.py and execute them in a single process. However, there is not any performance improvement compared with running them in two processes respectively, in terms of latency and throughput(measured by `ros2 topic delay` and `ros2 topic hz`). Is it expected?
After the observation, I would like to make them run in a single process with memory zero-copy. As far as I kno

[2019-10-10 15:35] yathartha3 opened #85 "Cannot launch example"
I am trying to write launch file for python package, and for some reason I am not able to build the package correctly to use with the launch file. So I tried the tutorial, and I am seeing the same issue. I don't know if I am missing something, or just doing it incorrectly.
_This might be related to build, and maybe i should open a ticket there?_

## Bug report

**Required Info:**

- Operating Syst

[2019-10-10 15:57] hidmic commented on #85
@yathartha3 example launch files are currently not being installed for neither of those packages and that's intentional AFAIK.

----

To install launch files in a pure Python package, use `data_files` to push them under `'share/' + package_name` e.g. in a `'share/' + package_name + '/launch'` subdirectory, as it is done for `demo_nodes_cpp` [here](https://github.com/ros2/demos/blob/4e3ea5d85ab93f4

[2019-10-10 15:57] #85 closed

[2019-10-11 03:07] xhuan28 commented on #84
I verified that it works after applying [ros2/rclcpp#871](https://github.com/ros2/rclcpp/pull/871). Thanks.

[2019-10-11 03:07] #84 closed

[2019-10-15 00:15] dabonnie opened #88 "Invalid keyword argument"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
  - Jenkins build farm - multiple systems (linux, osx, etc)
- Installation type:
  - source
- Version or commit hash:
  - [master repos file](https://raw.githubusercontent.com/ros2/ros2/master/ros2.repos)

[Build farm test link](https://ci.ros2.org/view/nightly/job/nightly_linux-armhf_release/lastCompletedBuild/testReport/test

[2019-10-15 00:16] dabonnie commented on #88
The fix is fairly straightforward :-)

[code]

[2019-10-15 00:19] dirk-thomas commented on #88
@dabonnie How about creating a pull request with that patch then :wink:

[2019-10-15 00:19] dabonnie commented on #88
In progress!

[2019-10-15 02:12] dabonnie commented on #88
Proposed changes in this PR: https://github.com/ros2/launch_ros/pull/89

[2019-10-15 17:31] wjwwood commented on #88
I think this was already proposed to be fixed in #83.

[2019-10-15 17:36] dabonnie commented on #88
Yeah, thanks for pointing that out!

[2019-10-15 17:36] #88 closed

[2019-10-25 01:01] eric1221bday commented on #75
Oh right, so #77 which I authored should be able to deal with this problem

[2019-10-27 13:20] TSC21 opened #91 "Release 'launch_testing_ros' to Crystal"
#### Feature description
There's a great potential on the testing framework that would be great to have in Crystal as well, specially for testing packages released for multiple distro versions (in this case, considering Crystal as well)

#### Implementation considerations
I guess it would be as simple as doing a bloom release for Crystal, unless the API doesn't allow it or requires backporting oth

[2019-10-27 13:29] TSC21 commented on #91
I am not sure if [launch_testing](https://github.com/ros2/launch/tree/master/launch_testing) would be the package to use for testing node outputs (which seems to be a dependency from `launch_testing_ros`), though even after installing `ros-crystal-launch-testing` on the system, I still get `launch_test: command not found`.

[2019-11-15 23:32] wjwwood commented on #91
It's not going to be possible to do this in Crystal because of the features required from the `ros2/launch` repository, which we cannot upgrade without breaking API and disrupting Crystal users.

So I'll close this as won't fix. Sorry.

[2019-11-15 23:32] #91 closed

[2019-11-20 16:14] dirk-thomas opened #95 "parameter order in XML is not maintained"
When a XML launch file declares parameters for a node the order of the `param` tags is not maintained if some use `name` and some use `from`: https://github.com/ros2/launch_ros/blob/025596b2ec2e4cbd844cfc0ef660d9b3240e3457/launch_ros/launch_ros/actions/node.py#L210-L228

As a consequence when multiple of the `param` tags with different attributes set the same parameter the actually set value is un

[2019-11-20 16:17] dirk-thomas opened #96 "support substitution in parameter yaml files"
Parameter files are passed to the CLI as a path but the substitution logic should stay in launch (and shouldn't be moved to the node).

[2019-11-21 18:18] dirk-thomas commented on #96
See ros2/rcl#527 for the alternative approach.

[2019-11-25 17:17] cottsay opened #97 "talker_listener_launch_test example is broken"
Trying to run this launch test:
[code]

Yields:
[code]

[2019-11-28 13:48] #2 closed

[2019-12-03 23:58] pbaughman opened #102 "lifecycle_node causing launch to hang at shutdown"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04 -->
- Installation type:
  - Source
- Version or commit hash:
  - Launch: c644dfa8e1f1433e200b76eb52ba22f392838f48
  - Launch Ros: 84cdecd361a3ea274f77f0c1ec2f2c02097fe372
- DDS implementation:
  - Fast-RTPS

I'm not sure if this issue is launch or launch_ros related.  I've got another issue open here: https://github.com/ros2/

[2019-12-04 19:09] ivanpauno commented on #75
Fixed by https://github.com/ros2/launch_ros/pull/77.

[2019-12-04 19:09] #75 closed

[2019-12-04 21:36] pbaughman commented on #102
I spoke to @wjwwood and we suspect that things are getting hung [here](https://github.com/ros2/launch_ros/blob/master/launch_ros/launch_ros/actions/lifecycle_node.py#L77-L92)

The lifecycle node checks that a service is available and then tries to call it apparently without a timeout.  If the service goes away after the check but before the call, we can maybe hang forever.

I'm trying to reproduce

[2019-12-05 21:03] #95 closed

[2019-12-05 22:15] pbaughman commented on #102
@wjwwood It looks like you were right.  I added some print statements to LifecycleNode:

[code]

And finally got this to hang:
[code]

As you can see, the final "Calling the service" does not have a matching "Finished calling service" line.

[2019-12-11 22:00] Karsten1987 opened #105 "Passing argument to launch file yields wrong RCL warning"
## Bug report

I am receiving a misleading/wrong warning when trying to pass arguments to the `ros2 launch` command.

**Required Info:**

- Operating System:
  - OSX
- Installation type:
  - Eloquent source
- Client library (if applicable):
  - rcl ?

#### Steps to reproduce issue
Given a launch file with any `LaunchArgument`
[code]
Then launching the launch file as follows:
[code]
#### Expected b

[2019-12-12 10:45] teutobod commented on #97
Any updates here? I'm stuck to the same issue.

[2019-12-12 22:09] jacobperron commented on #19
On a related note, I was a little confused by the `ComposableNodeContainer` API thinking I could do something like:

[code]

But I was missing the keyword arguments:

[code]

Do you think we could make these the default values for the `ComposableNodeContainer` action? I suppose this adds a runtime dependency on `rclcpp_components`. I think this would be enough to resolve this feature request.

As

[2019-12-12 22:19] sloretz commented on #19
The API for component managers is language neutral. It is possible to implement a python component container for `rclpy` nodes. If `rclcpp_components` become the default, those values would still have to be set manually for other client libraries. Besides adding a runtime dependency, I'm concerned that could be perceived as  a preference for one client library over all others.

[2019-12-13 19:33] jacobperron commented on #105
I also ran into the same issue.

[2019-12-14 00:03] jacobperron opened #107 "LoadComposableNodes action blocks previous actions"
## Bug report

In particular, it would be really convenient to be able to start a node container just before some actions to load components into it. Maybe not a *bug*, but certainly a big usability improvement.

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  -  source
- Version or commit hash:
  - d6dd5c0e75fb6cdbfb9b65b8468b4b0b5b2172da
- DDS implementation:
  -

[2019-12-14 02:39] #102 closed

[2019-12-16 23:20] jacobperron commented on #105
I think this was fixed by https://github.com/ros2/launch_ros/pull/106. @ivanpauno Can you close this ticket if I'm correct?

[2019-12-16 23:58] jacobperron commented on #97
I can reproduce the issue.

Interestingly, if you run the test with the CLI tool `ros2 test`, then there is no error:

    ros2 test src/ros2/launch_ros/launch_testing_ros/test/examples/talker_listener_launch_test.py

[2019-12-17 00:05] jacobperron commented on #97
I guess it kind of makes sense, since the ROS node is specific to `launch_ros` and not `launch`; the node is started by the default `launch_ros` description here:

https://github.com/ros2/launch_ros/blob/c37340d04803df34d6cc8d83436cc448fed62d6a/launch_ros/launch_ros/default_launch_description.py#L80-L92

I think either the README should be updated to use `ros2 test`, or the example launch file sho

[2019-12-17 00:14] jacobperron commented on #97
Updating the launch file fixes the issue for launching with `launch_test`, e.g.:

[code]

But, then two nodes are created if we run with `ros2 test` and we get the following warning:

[code]

Seems like a different approach is required.

[2019-12-17 01:27] jacobperron opened #108 "Can't write tests with composable nodes"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Eloquent binaries or from source
- Version or commit hash:
  - c37340d04803df34d6cc8d83436cc448fed62d6a
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Example launch test file:
[code]

#### Expected behavior

The tests runs and passes without err

[2019-12-17 12:24] #105 closed

[2019-12-17 13:14] #55 closed

[2019-12-20 15:50] mganglb opened #109 "arguments = [--ros-args --log-level WARN] has not expected behavior"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  -  binaries

#### Steps to reproduce issue
- making a launch file (Python) in a pkg
- building
- ros2 launch <pkg> <launch-file>

`

    xyz_cmd= Node(
        package=package;
        node_executable='node_executable',
        node_name=node_name'
        node_namespace = node_namespace ,
        output

[2020-01-02 18:19] hidmic commented on #97
There's no good solution here really, besides not mixing up `launch_test` and `ros2 test`. The former just runs the test, the latter injects `launch_ros` default launch description. There was a discussion about this in https://github.com/ros2/launch/issues/208. I still think tools should not inject anything, but consensus back then was to reduce boilerplate as much as possible.

[2020-01-02 18:31] hidmic commented on #108
The first error is expected, `launch_test` is ROS agnostic and will not automatically prepend the default launch description that's required for many `launch_ros` actions to work. One may argue that actions should be somewhat more verbose about their preconditions not being met instead of crashing.

The second error, which doesn't actually result in a test failure, is a combination of things. The

[2020-01-02 18:49] hidmic commented on #109
This does not work

I have the slight impression this isn't valid Python syntax.

`arguments = ['--ros-args', '--log-level', 'DEBUG'],`

For the sake of simplicity, the syntax suggested in warnings assumes you're running in a shell environment, which takes care of tokenizing your arguments. Depending on how you run your processes, you may have to provide arguments in a different way. For your part

[2020-01-02 18:49] #109 closed

[2020-01-03 12:15] mganglb commented on #109
Thanks for your response!

This does not work

This is ofc not correct, I can’t even reproduce my thoughts/error anyway atm.

Still, I am a bit confused with the logging system. If I use a launch.py file to start nodes, with debug level warn or info”, “info” msgs are not displayed on the console. However, they appear after or while the node get closed again. I found this behavior with python and c

[2020-01-03 14:36] dirk-thomas commented on #109
@mganglb what you are seeing is that debug/info goes to `stdout` which is by default a fully buffered stream while warn/error goes to `stderr` which is line buffered. See ros2/rcutils#196 for a proposal to change all logging to a single stream.

[2020-01-03 15:56] jacobperron commented on #97
See #112 for a fix of the example.

Longer term, I think we need to remove the injection from the CLI tool, or be able to detect that the preamble has already been included to avoid including it more than once.

[2020-01-16 21:58] jacobperron opened #114 "LaunchConfiguration is not read from ComposableNode when included inside a group action"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - source
- Version or commit hash:
  - c5e2aa2bf0eb60d61c66dbe0a6da365230b3387d
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Create the following two launch files:

`foo.launch.xml`
[code]

`bar.launch.py`
[code]

Launch `foo.launch.xml`:

    ro

[2020-01-17 21:24] wjwwood commented on #114
Maybe you need to use the `scoped` argument for the `GroupAction`? I need to look in more detail at why you are using the group, but I guess the scope option needs to be flipped or the scope mechanism has a bug in it or something.

[2020-01-17 21:26] wjwwood commented on #114
Maybe it has to do with the delayed evaluation of the substitution? I'm not sure...

[2020-01-17 21:29] wjwwood commented on #114
I think since the load of the composable nodes is done asynchronously (with an event handler) the group has already ended and undone the scope:

https://github.com/ros2/launch_ros/blob/c5e2aa2bf0eb60d61c66dbe0a6da365230b3387d/launch_ros/launch_ros/actions/composable_node_container.py#L73

I'm not sure how to fix this, a few options:

- perform the substitutions in `ComposableNodeContainer::execute

[2020-01-23 14:21] stonier commented on #97
Got burned by this last night as well.

+1 for removing the injection. Reasoning:

* Prefer to have one launch test file format, not two (e.g. the current launch_test file is broken with launch_test, which makes it something else).
* Prefer not to *depend* on client tooling (i.e. `ros2 test`). That should be there to provide conveniences, not dependencies.

[2020-01-29 07:28] ruffsl opened #118 "Tab autocomplete to only list launch files in package when package is specified"
## Bug report

When using the ros2 launch CLI, tab autocomplete for pwd files persists even after a valid package name is specified in the first argument. This makes it annoying to use the CLI in busy directories, particularly when you'd just like to check for the available launch files in the package specified.

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - bin

[2020-01-29 12:30] ivanpauno commented on #118
Transferred to `launch_ros` package, where `ros2launch` code lives.

[2020-01-30 17:47] mganglb opened #119 "Error when set default_value to []"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - binaries
- Version or commit hash:
  - eloquent

#### Steps to reproduce issue
[code]

if using an empty list as default_value an error occurs

#### Expected behavior
no error. since in python this is possible:
`node.declare_parameter('list_foo', [], ParameterType.PARAMETER_STRING_ARRAY)`

#### Actual

[2020-01-30 19:37] jacobperron opened #120 "Revisit injection of launch_ros description"
## Feature request

#### Feature description

This issue was raised as part of https://github.com/ros2/launch_ros/issues/97 and previously discussed in https://github.com/ros2/launch/issues/208.

Both `ros2 launch` and `ros2 test` [inject an included description](https://github.com/ros2/launch_ros/blob/c5e2aa2bf0eb60d61c66dbe0a6da365230b3387d/ros2launch/ros2launch/api/api.py#L146-L148) that create

[2020-01-30 19:49] hidmic commented on #120
I'd go for 2. IMHO `launch_ros` actions that rely on having an `rclpy` in the launch context should set it up themselves instead of assuming it has been taken care of already. Maybe drop the concept of a default launch description in favor of an idempotent `launch_ros` utility that initializes the launch context to sustain ROS specific actions?

[2020-01-30 22:43] jacobperron commented on #97
I've fixed the example in https://github.com/ros2/launch_ros/pull/121 and opened a ticket to discuss removing the injected launch description: #120

[2020-01-30 23:23] #107 closed

[2020-01-31 00:05] jacobperron commented on #119
I'm not having any issue setting a default value of `[]` (which evaluates to the empty string). Here's my test:

[code]

Can you please provide a complete launch script that reproduces the issue?

[2020-01-31 01:38] #97 closed

[2020-02-01 15:31] stonier commented on #120
2. sounds fine so long as it isn't the rostest client itself doing the injection. Something along the lines of having `launch_ros` figure it out in an idempotent fashion as @hidmic describes sounds good to me too.

[2020-02-05 20:18] jacobperron opened #136 "Command substitution: special characters inside XML comments causes launch to fail"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 18.04
- Installation type:
  - from source
- Version or commit hash:
  - 4333910ba41977f3ab9867082c86a8698ada3a16

Specifically, I've noticed that colons (`:`) and tab characters are not working.

#### Steps to reproduce issue

I ran into this issue trying to pass a URDF from xacro to robot_state_publisher, like the [example here](h

[2020-02-12 18:24] jacobperron opened #123 "Remove deprecated Node API after Foxy release"
## Feature request

#### Feature description

API was deprecated in https://github.com/ros2/launch_ros/pull/122.
After Foxy is released we can remove the deprecated API in preparation for the next major release.

[2020-02-14 17:38] hidmic commented on #61
@ivanpauno @sloretz can this be closed?

[2020-02-14 17:46] ivanpauno commented on #61
Yes, closing!

[2020-02-14 17:46] #61 closed

[2020-02-18 22:05] emersonknapp opened #124 "Output a warning when launching multiple nodes with the same name"
## Feature request
Node name uniqueness is not enforced in ROS2. It seems to be uncertain whether-or-when it will be so. In the meantime, there is a lot of user confusion that can happen around having multiple nodes with the same name, since much of ROS2 assumes they are uniquely named.

One user-helping mitigation we can introduce is: Within a single invocation of `ros2 launch`, log a warning mes

[2020-02-20 16:02] pbaughman opened #125 "test_launch_ros tests fail when using nightly docker image"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 16.04
- Installation type:
  - Mostly binaries.  launch_ros built from source
- Version or commit hash:
  - launch_ros: 93b242cc02d1a9b3c31e62831f1587aac4bcbd81
  - Nightly docker image ed821d8fbcf3 (yesterday)
  - Nightly docker image 0f21b27cbc11 (today)
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

####

[2020-02-20 16:06] dirk-thomas commented on #125
Duplicate of ros2/build_cop#266.

[2020-02-20 16:06] #125 closed

[2020-02-26 01:19] jacobperron commented on #124
It's not necessarily even decided that node names should be unique. I think we should resolve https://github.com/ros2/design/issues/187 so that it's clear what kinds of assumptions can be made about node name uniqueness. Based on the discussion so far, I think the consensus is that there should be some way to uniquely identify nodes, but whether this is based on their name is TBD.

[2020-02-26 02:07] emersonknapp commented on #124
Right now - non-unique node names cause actual problems in usage. Our intent is a low-impact and minimally invasive addition of warnings that can help users understand/resolve those problems in their system.

The design discussion seems around node name uniqueness seems far from complete, and I agree that we should agree on a well-reasoned approach. However, my understanding is that's not going to

[2020-02-27 18:26] #118 closed

[2020-03-05 00:42] jacobperron commented on #119
@mganglb Friendly ping. If you are still experiencing this error, please comment with more information and we can re-open this issue.

[2020-03-05 00:42] #119 closed

[2020-03-10 20:32] #124 closed

[2020-03-11 07:27] saibotUrczf opened #129 "Provide Documentation on how to use XML API"
## Feature request

#### Feature description

Provide an example on how to use the XML API, i.e., if I have a launch file, how can I get it running? Do I need to create a package, do I need to add it in `package.xml` whatsoever...

Especially since the release of Eloquent Elusor, the launch system became way more practical (imho) and is one of the great features of ROS1. Nonetheless, I struggle to

[2020-03-19 01:45] rotu opened #134 "Passing a string to Node arguments behaves unintuitively"
In Node constructor, arguments takes an arguments of list of strings. Passing a string to arguments typechecks but provides unexpected results, treating the string as a sequence of single-character arguments.

e.g the following code:
[code]

This displays no error message but the mistake is visible when the process dies.
[code]

Passing a string to `arguments` (or similar places) should either:

1

[2020-03-20 12:31] ivanpauno commented on #129
I replied in the ros answers question.

The best source of documentation about XML launchfiles is the migration guide: https://index.ros.org/doc/ros2/Tutorials/Launch-files-migration-guide/.

I'm closing this issue. If you have any specific documentation improvement in mind, we can reopen the issue and discuss it.

[2020-03-20 12:31] #129 closed

[2020-03-24 20:44] ivanpauno commented on #134
Moving to `launch`, because the problem is inherited from `ExecuteProcess`.

[2020-03-24 20:53] ivanpauno commented on #120
Seems to have been fixed in https://github.com/ros2/launch_ros/pull/128, closing!

[2020-03-24 20:53] #120 closed

[2020-04-02 22:20] JWhitleyWork opened #139 "Allow LifecycleNodes to be added to ComposableNodeContainers"
## Feature request

#### Feature description
Allow `launch_ros.actions.ComposableNodeContainer` to contain `launch_ros.actions.LifecycleNode` objects which are also registered as Composable Nodes. It is possible to register an `rclcpp::LifecycleNode` as a Comoposable node (see example [here](https://github.com/astuff/pacmod3/blob/deec9f5bcf8585d1443f26f4731bbb7b4e6fb8eb/src/pacmod3_node.cpp#L43))

[2020-04-06 17:56] JWhitleyWork commented on #139
Nevermind. Likely duplicate of #41.

[2020-04-06 17:56] #139 closed

[2020-04-06 17:57] JWhitleyWork commented on #41
Has there been any movement on this?

[2020-04-16 13:50] clalancette opened #142 "Add `push_ros_namespace` alias to `push-ros-namespace`"
## Bug report

`push-ros-namespace` is the current decorator used for pushing a ROS namespace within a Launch GroupAction.  However, we think it is more aesthetically nice to use `push_ros_namespace`, so we should add that decorator as well.  See https://github.com/ros2/ros2_documentation/pull/539/files#r388486312 for more details.

[2020-05-06 17:22] rotu opened #145 "Unreadable test case name for `test_node_frontend`"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - source
- Version or commit hash:
  - master
- DDS implementation:
  - Cyclone DDS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

run tests

#### Expected behavior

All tests have a reasonable name which succinctly explains what the test is and does.

#### Actual behavior

`te

[2020-05-06 17:43] hidmic commented on #145
That's `pytest` appending a string representation of the test parameters to the name. Introducing an object with a human readable `__str__` output, and from which the actual parameterization can be retrieved would solve the problem.

@rotu will you contribute with such a fix?

[2020-05-06 21:36] jrgnicho commented on #114
Also experiencing the same issue with ComposableNodeContainer where my python launch file looks like this
[code]
It runs fine when I call it from the command line
but when I call it from an xml launch file
[code]
It errors out saying that the `launch configuration 'global_ns' does not exist`.  Removing the argument has no effect either

[2020-05-13 22:32] Michael-Equi opened #149 "No tab autocomplete or suggesting for xml launch files"
## Bug report

**Required Info:**

- Operating System:
  -
- Installation type:
  -  binaries
- Version or commit hash:
  - 0.9.6-1bionic.20200121.220323 for launch and 0.9.6-1bionic.20200121.220435 for launch xml
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
Install binaries from apt and create an xml launch file in a custom package. Build and source package then perform ros2

[2020-05-21 16:27] hidmic commented on #149
@Michael-Equi IIRC autocomplete for non Python launch files is not supported yet. Would you be willing to contribute said feature?

[2020-05-21 18:43] Michael-Equi commented on #149
Not exactly sure where I should start, if you could point me in a direction I can see if I have the time to contribute it.

[2020-06-11 03:13] KenYN opened #151 "ComposableNodeContainer launches all ComposableNodes on the same thread"
## Bug report

**Required Info:**
- Operating System:
  - Ubuntu 18.04
- Installation type:
  - Binaries
- Version or commit hash:
  - Eloquent
- DDS implementation:
  - NA
- Client library (if applicable):
  - NA

#### Steps to reproduce issue
Taking [`demos/composition`](https://github.com/ros2/demos/tree/eloquent/composition) as a base, change the `launch/composition_demo.launch.py` container l

[2020-06-11 12:44] hidmic commented on #151
@KenYN this is simply due to `launch_ros.actions.ComposableNodeContainer` using the single threaded [composable nodes' container](https://github.com/ros2/rclcpp/blob/master/rclcpp_components/src/component_container.cpp) instead of the [multithreaded one](https://github.com/ros2/rclcpp/blob/master/rclcpp_components/src/component_container_mt.cpp).

I can imagine `launch_ros.actions.ComposableNodeCo

[2020-06-12 01:58] KenYN commented on #151
@hidmic I've had a look at the source code and I'm not sure where I would start with a patch...

[2020-06-16 08:23] tobiasneumann commented on #46
I can reproduce this (with an existing `package_name` and `executable_name`).
* Operating System:
    * Debian 10
* Installation type:
    * source
* Distribution
    * foxy
* Versions:
    * https://github.com/ros2/launch.git
        * dbbd4de641fa9f2116bd71600e2c8fe67f0c24e3
    * https://github.com/ros2/launch_ros.git
        * 54ab32db96e0d813187f24e3c12fb3ea77cf2fa2

[2020-06-16 13:53] hidmic commented on #46
Indeed. Currently we do not support substitutions as `launch.actions.ExecuteProcess`' output argument (see [constructor](https://github.com/ros2/launch/blob/dbbd4de641fa9f2116bd71600e2c8fe67f0c24e3/launch/launch/actions/execute_process.py#L102)).

I don't see why we couldn't though, a launch context is available when that output configuration is first used (see [here](https://github.com/ros2/launc

[2020-06-16 16:16] tobiasneumann commented on #46
I'm sorry, I can not contribute since my experience and knowledge of python is minimal.

[2020-06-17 02:58] KenYN commented on #151
I've found that
[code]
Does what I want. The performance is dreadful, however, but I'm not sure what the cause is, but that's a separate issue.

[2020-06-17 02:58] #151 closed

[2020-06-17 12:50] ivanpauno commented on #151
The cause is probably the performance of the `MultiThreadedExecutor` itself.

[2020-06-19 04:44] KenYN commented on #151
I've seen the reports of that, but in the end the performance issue was a timing bug in my code that surfaced due to `ros1_bridge` overhead and other things...

[2020-06-19 14:19] ivanpauno commented on #151
Thanks for clarifying @KenYN !!

[2020-06-21 18:31] dawonn-haval opened #156 "ComposableNode.parameters with a file path does not take effect."
## Bug report

1. I used  `ros2 param dump /exampleConfig` to generate `exampleConfig.yaml`.
2. I set `parameters=['/module/exampleConfig.yaml']` in my ComposableNode within a launch.py file
3. The parameters were not set, but I do get a warning from libyaml, so I think it's trying but not succeeding...

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: Binary
- Version or

[2020-06-22 13:58] #145 closed

[2020-06-23 00:57] dawonn-haval commented on #156
Not sure if I should make another issue, but I also discovered that the launch will hang if the specified parameter file doesn't exist. (Not sure if this is a bug in launch_ros, launch, composableNodeContainer, or ComposableNode yet)

[2020-06-24 20:29] ivanpauno commented on #45
I've started to implement this for parameters.

[2020-06-25 20:23] ivanpauno opened #159 "PushRosNamespace action should affect ComposableNode descriptions"
## Bug report

The following launch description:

[code]

Should result in nodes named:
* /my_ns/talker
* /my_ns/listener

and they are resulting in:

* /talker
* /listener

Disclaimer: I have to double check this. I will do it after merging https://github.com/ros2/launch_ros/pull/158, which may have conflicting changes.

[2020-07-01 11:57] ivanpauno commented on #45
reopening, as a similar feature for remapping rules is still needed

[2020-07-08 19:13] dawonn-haval opened #160 "calling yaml.load() without Loader=... is deprecated"
## Bug report

Trying to load parameters from a file produces a warning message at launch:
[code]

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Source
- Version or commit hash:
  - foxy, V0.10.2, 54ab32db96e0d
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue
[code]

#### Expected behavior
No warnings a

[2020-07-08 21:59] dawonn-haval commented on #156
Progress Report;

The YAML file format is different when loading parameters with the ComposableNode Parameters option compared to the function that was in Dashing.  This works:

exampleConfig.yaml
[code]

This is in contrast to https://github.com/ros2/system_tests/blob/master/test_cli/test/test_params_yaml.py#L70 which appears to use the format from Dashing.

It also contrasts with the output from

[2020-07-09 01:39] dawonn-haval commented on #156
I think someone with broader ros2 architecture & design intent knowledge should review this issue briefly. Essentially, ROS2 currently has two different parameter file formats, which seems less than ideal. I think it makes sense to extend launch_ros to support the same file format as the --params-file flag in rcl.

It's not exactly an 'easy' task though; to_parameters_list() would need access the

[2020-07-09 17:29] dirk-thomas commented on #159
@ivanpauno Will you be able to look into this? If yes, please assign the ticket to yourself.

[2020-07-15 20:33] #159 closed

[2020-07-23 19:06] #160 closed

[2020-07-24 20:59] #45 closed

[2020-08-03 12:54] ivanpauno commented on #156
Yeah, it will need to access the current node name.
That's only possible if the user passed both the node name and namespace.
In that case, the parameters can be easily extracted from the file.

See [this comment](https://github.com/ros2/rclcpp/pull/1216#issuecomment-665876899) for more details.

[2020-08-03 12:55] ivanpauno commented on #156
Can you share an example to reproduce that problem?
I find quite strange that it hangs

[2020-08-03 21:17] SteveMacenski opened #165 "ROS2 Launch fails to return GDB session for debugging"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
  -
- Installation type: Foxy binaries
  -
- Version or commit hash: Most recently released binaries
  -
- DDS implementation: Fast-RTPS
  -
- Client library (if applicable): rclcpp
  -

#### Steps to reproduce issue

clone https://github.com/samsung-ros/gdb_test_pkg, build, and run launch file, e.g.

[code]

#### Expected behavio

[2020-08-03 21:30] SteveMacenski commented on #165
Maybe the right place is ros2cli, not sure.

[2020-08-03 21:57] allenh1 commented on #165
Same behavior for me on Ubuntu 20.04 (distro built from source up-to-date as of yesterday).

[2020-08-05 16:45] ivanpauno commented on #136
This can be fixed now by avoiding using `yaml` conversions:

[code]

The fix was introduced in https://github.com/ros2/launch_ros/pull/137.

[2020-08-05 16:45] #136 closed

[2020-08-05 16:47] ivanpauno commented on #74
After https://github.com/ros2/launch_ros/pull/137, the rules used for coercing type after substitutions and by launch frontend are the same.

[2020-08-05 16:47] #74 closed

[2020-08-05 16:56] ivanpauno commented on #56
Duplicate of https://github.com/ros2/launch_ros/issues/45, fixed in https://github.com/ros2/launch_ros/pull/163

[2020-08-05 16:56] #56 closed

[2020-08-05 16:59] ivanpauno commented on #37
The proposed implementation sounds good to me.
The launch configuration could be set when running `ros2 launch` using `name_of_config:=value`.

[2020-08-05 17:27] ivanpauno commented on #36
@artivis this already works.
I think that the only issue is that the help doesn't show the option correctly.

Can you confirm?

[2020-08-05 19:20] ros-discourse commented on #165
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-backtrace-tutorial-navigation2/15781/3

[2020-08-05 21:01] ros-discourse commented on #37
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-2-backtrace-tutorial-navigation2/15781/5

[2020-08-05 21:54] jacobperron commented on #36
It has been working for me; also with launch files with different front-ends.

[2020-08-07 07:21] siddhya commented on #165
The -prefix would be very useful. I can see two processes in the foreground. See Sl+ and S+ below. What does that mean? Could that be the reason we do not see the gdb prompt?

[code]

[2020-08-11 02:09] jacobperron opened #169 "LoadComposableNodes action hangs"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - from source
- Version or commit hash:
  - 8c05ebb4be52dcd360e47694875643e4f53a010e

#### Steps to reproduce issue

1. Start a component container

[code]

2. Launch the following description:

[code]

#### Expected behavior

Node is loaded into the container and the launch process exits.

Alternatively

[2020-08-11 02:54] jacobperron commented on #114
I did some investigation and I can confirm the launch configuration dropped by the event handler:

https://github.com/ros2/launch_ros/blob/8c05ebb4be52dcd360e47694875643e4f53a010e/launch_ros/launch_ros/actions/composable_node_container.py#L95-L105

Looking through the commit history, the whole event handler strategy for loading seems vestigial; it was originally used in the LoadComposableNodes act

[2020-08-11 20:42] #96 closed

[2020-08-13 23:16] #169 closed

[2020-08-14 19:42] jacobperron opened #171 "LoadComposableNodes action can cause launch process to hang forever"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Any
- Version or commit hash:
  - Any
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

Run this broken mock node component container:

[code]

Launch a LoadComposableNodes action pointing to the broken container:

[code]

#### Expected behavior

Lo

[2020-08-14 19:46] jacobperron commented on #171
@wjwwood @ivanpauno What do you think about the first point I listed above?

If you agree, I can look into patching the launch service so that it has a timeout for waiting on futures during shutdown. Alternatively, we can at least add back a debug log telling the user that launch is still waiting on futures, but I don't think this is that useful, especially if we can't tell where the futures came

[2020-08-14 21:08] ivanpauno commented on #171
The problem with timeouts is defining how much is "too much".
I think it's reasonable to put some maximum, e.g.: 1min.
It will help avoiding shooting ourselves in the feet.

Adding back the debug logs is surely a good idea.

[2020-08-14 21:19] jacobperron commented on #171
The other option is to not even have a timeout; if launch is shutting down, just cancel all pending futures.

[2020-08-14 21:24] ivanpauno commented on #171
I think there is a reason why we're not doing that, I don't recall correctly.
Maybe @wjwwood or @hidmic remember it.

[2020-08-17 17:05] wjwwood commented on #171
I don't know off hand, but I'd say it would be better if they were not canceled and instead they could just shutdown cleanly. That being said having it error out at some point rather than hanging might be ok. But there might be cases where a long shutdown is needed, like you're waiting on a file to close or something.

[2020-08-17 17:24] jacobperron commented on #171
That's a good point.

I'll fix the issue in `LoadComposableNodes` and leave the `launch` shutdown logic for now. If other users run into this, maybe we can add a launch option for a shutdown timeout (or consider letting the sigquit signal cancel any outstanding futures).

[2020-08-17 17:29] wjwwood commented on #171
This seems reasonable to me.

[2020-08-17 19:02] #114 closed

[2020-08-20 18:29] clalancette commented on #36
I think this is working now, and its been a long time since it was opened.  Sorry for the delay in responding.  I'm going to close this out, but if this is still a problem for you please feel free to reopen.

[2020-08-20 18:29] #36 closed

[2020-08-28 00:15] #171 closed

[2020-09-03 17:12] hidmic commented on #165
Apologies for the delay!

Yes, that's expected. `ros2 launch` cannot return the `gdb` prompt, as `launch` itself doesn't even connect to launched processes' `stdin`. Still, you can debug these processes if you bring up a separate terminal along with them e.g. using an `xterm -e gdb -ex run --args` prefix.

Perhaps this is an unfortunate omission in `launch`, but on the other hand, I don't see how

[2020-09-03 17:19] SteveMacenski commented on #165
@hidmic then that should be outright removed from the design documentation https://design.ros2.org/articles/roslaunch.html and @sloretz also assumes this should work https://answers.ros.org/question/343326/ros2-prefix-in-launch-file/.

I don't think "that's expected" is a legitimate answer. This worked in ROS1 (which was also a python API), this should work in ROS2, and even the design docs agree

[2020-09-03 17:40] hidmic commented on #165
I don't think it should be removed. Launch prefix **does work**, and can be used to execute a process in a `gdb` session, but it does require delegation to a separate terminal to regain access to the prompt.

I did see that, and that's why I said it may need an update (to reflect the current state of things, that much I didn't say).

It does bring about the question of _how_ this worked in ROS 1.

[2020-09-03 17:58] SteveMacenski commented on #165
Can you show that? I'm 95% sure I tried with xterm and also failed to produce a gdb session. I spent a half a day trying a bunch of different combinations between `ros2 run`, `ros2 launch`, in the launch file, calling the executable manually, etc and none of my notes indicate I was able to get anything launch file related working at any point.

Lets worry about 2+ sessions after we just get 1 sess

[2020-09-03 18:50] clalancette commented on #165
The problem is that this is a specific instance of the more general case of multiple processes trying to use the stdin handle.  For instance, what happens if you try to debug a process via `gdb` and have `teleop_twist_keyboard` in the same launch file?

I guess we could go ahead and have launch throw an exception at the beginning if there were 2 or more processes that were trying to get input from

[2020-09-03 19:01] SteveMacenski commented on #165
I don't disagree, but lets just get to the point where we're even at parity with the feature status of ROS1 and meeting the (currently aspirational) documentation that this works for any case.

Great is the enemy of good :wink: If getting 1 session working, given we have a reference design in ROS1 for it, takes 20% of the time, it'll fill 80% of the need. I think that's a good compromise to get st

[2020-09-03 19:52] hidmic commented on #165
Yeah, more and better documentation would be good. That's on us. I just opened a https://github.com/samsung-ros/gdb_test_pkg/pull/1 with the change I had to make your repro to have access to the `gdb` prompt. This requires an X server laying around. I think you can start the process in a `tmux` session if you don't have one.

The thing is that the whole idea of connecting `ros2 launch` standard in

[2020-09-03 19:53] hidmic commented on #165
@SteveMacenski let me know if using `xterm` does the trick :)

[2020-09-03 20:05] SteveMacenski commented on #165
It seems more right than doing nothing and leaving it in its currently bad user state. This is also the exact behavior as in ROS1 so its not as if we're breaking something that was previously different. I think you should be viewing this in a lens of fixing something broken; not breaking something. `Better is good`. I think the absolute worst outcome is that nothing changes and we just accept this

[2020-09-03 20:20] clalancette commented on #165
I will say that the whole point of ROS 2 was to rethink these things.  So just saying that it worked in ROS 1 is not sufficient, in my view.  The fact that it meets a user need *is* a good reason, but we should think about the consequences of doing so.

I still have the problem that it is easy to come up with a non-contrived use-case that fails pretty badly.  We either need to come up with a way t

[2020-09-03 20:42] SteveMacenski commented on #165
I just want some action on this, its extremely disruptive to my workflow to have to constantly rip out nodes from a launch file and manually set remaps, node names, paths to config files, set node options on the commandline, and then transition up my lifecycle nodes (if necessary). This is major quality of life determinant from ROS1 and its clearly intended to be supported from design documents, a

[2020-09-03 20:51] clalancette commented on #165
Mich opened a PR: https://github.com/samsung-ros/gdb_test_pkg/pull/1

[2020-09-03 21:52] wjwwood commented on #165
There seems to be an assumption that we could easily just "connect stdin to everything" as ROS 1 does it and it would be fine, but that we don't want to do that for pedantic reasons. I don't think this is the case at all.

I did look into this when implementing it and it is not trivial. The assumption above is flawed because roslaunch in ROS 1 is not implemented the same way as launch, and in ROS

[2020-09-03 22:13] SteveMacenski commented on #165
I view `xterm` as a work around rather than a solution. To @wjwwood's point, if there are other considerations that make even just that a very non-trivial task, then I understand the difficulty vs marginal benefit argument.

This should just be really explicit then that ROS2 launch does not, and will not, support GDB in terminal session, regardless of the number of nodes and distribution of tasks.

[2020-09-03 22:25] hidmic commented on #165
I agree we need a very big sign saying that `launch` does not yield access to processes' standard input. But I fail to see why using `xterm` (or similar) is inadequate. Even more so considering it'll just work for all cases, without pitfalls to watch out for.

[2020-09-03 22:30] SteveMacenski commented on #165
Its inadequate unless you stop/correct people from doing impossible things and heavily documenting the presence of this issue invalidating some previously common workflows. William's comment makes it clear that it doesn't work, nor will it probably ever work. Changing workflows is fine, when there's a large technical benefit from doing so (like, requiring 500 hours of engineering time for a small

[2020-09-03 23:02] wjwwood commented on #165
I don't think `xterm` is a workaround, in my opinion it is the solution, but more helpful messages is always good.

We can make note for `gdb`, but other interactive prefixes (like `lldb`) as well as interactive processes (like keyboard teleop), will also not work and we cannot automatically detect them all.

[2020-09-03 23:09] hidmic commented on #165
Ok, I see. I just wanted to make sure there wasn't any other technical issue that'd prevent you from using it.

I fully agree documentation is lacking. Contributions are always welcomed :)

[2020-09-04 03:14] SteveMacenski commented on #165
Sure, I’m always open to putting my money where my mouth is 😉

I’d be happy to write up some documentation for ROS Index on top of my GDB tutorial on navigation.ros.org. The launch side of things, throwing an exception when running gdb in the same session, I have markedly less experience with. I’d be happy to give it a stab if you can point me to the right direction, else I’d also be fine if someo

[2020-09-18 15:55] danwblackburn commented on #149
I was having the same issue in foxy, but I think that I figured out what's wrong. It comes from the naming scheme of the XML launch files. Auto tab completion works fine for me as long as the XML launch files end with ``launch.xml``. Which is consistent with what should be happening now that I read the code [here](https://github.com/ros2/launch_ros/blob/2e64ea5c0d6472543417444513827f696210d877/ros

[2020-09-23 10:37] sjauhri commented on #129
Just had the same experience trying to migrate ROS1 XML launch files to ROS2 eloquent.
Was only getting the error "[ERROR] [launch]: Caught exception in launch (see debug for traceback): The launch file may have a syntax error, or its format is unknown"

Found out later that XML launch requires additional packages:
sudo apt install ros-eloquent-launch*

Would be really really useful if this could

[2020-09-23 12:22] clalancette commented on #129
Please feel free to open a pull request against https://github.com/ros2/ros2_documentation ; we're happy to receive and review contributions.  Thanks.

[2020-09-28 23:56] 33thou opened #181 "'remappings' is a confusing word. Possibly rename to simply 'mapping'?"
I'm still getting familiar with the ROS ecosystem and community feedback mechanisms to feel free to point me in the right direction if this is the wrong place for this feedback.

I was going through the tutorial at https://index.ros.org/doc/ros2/Tutorials/Launch-Files/Creating-Launch-Files/

There is a parameter called 'remappings' to the `Node` object which seems to be incorrectly named. This par

[2020-09-29 15:42] clalancette commented on #181
The thing is, we call it `remapping` in a lot of places.  For instance, the design article explicitly uses that term: http://design.ros2.org/articles/static_remapping.html .

So I think for consistency, the term `remappings` in launch_ros makes the most sense.

[2020-09-29 21:03] 33thou commented on #181
makes sense, thanks!

[2020-09-29 21:03] #181 closed

[2020-10-13 22:00] brawner opened #184 "test_composable_node_container.py fails with rmw_connext_cpp"
This test has been failing for the past two weeks.

Example:
http://build.ros2.org/view/Rci/job/Rci__nightly-connext_ubuntu_focal_amd64/106/testReport/test_launch_ros.test.test_launch_ros.actions/test_composable_node_container/test_composable_node_container_in_group_with_launch_configuration_in_description/

Trying with CI, testing `--packages-select launch_ros` with `rmw_connext_cpp`
* Linux [![B

[2020-10-19 20:51] clalancette opened #185 "[Foxy]: Can't launch a ComposableNodeContainer with the latest Foxy packages (0.10.3)"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - Foxy debian packages
- Version or commit hash:
  - ros-foxy-launch-ros_0.10.3
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

I have a fairly straightforward launch file:

[code]

#### Expected behavior

Container successfully launches

##

[2020-10-19 20:53] clalancette commented on #185
Also @jacobperron FYI.

[2020-10-19 21:05] ivanpauno commented on #185
https://github.com/ros2/launch_ros/pull/153 needed some rework to be backported, and it seems that something went wrong and wasn't caught in the tests.

I can take a look to it.

[2020-10-19 21:09] hidmic commented on #185
Also, the `launch_ros.actions.LoadComposableNodes` action should verify the container's node name is fully specified. It relies on that to be true.

[2020-10-19 21:36] clalancette commented on #185
Also, on master, if you don't specify *any* namespace, you get the following error:

[code]

There are 2 problems with that:
1.  That error message is hard to follow; if we don't want to allow no namespace, we should throw an exception before passing a made-up string to the rcl layer.
1.  It feels to me like `ComposableNodeContainer` should act as much like `Node` as possible.  That is, if having

[2020-10-19 21:36] ivanpauno commented on #185
I'm not sure what's the correct fix.

Before, passing `namespace=''` to `Node` meant that no remapping rule was passed (i.e. the namespace hard-coded in the node executable was used), same as passing `namespace=None`.
That was a mistake, and fixed on `master` (`None` still mean no remapping rule).

The property [node_name](https://github.com/ros2/launch_ros/blob/7ddcc1a2ac15a73cfe65b97ec230a0c4d19

[2020-10-19 21:40] ivanpauno commented on #185
Does that mean passing `namespace=None`?

Agreed.

In `Node`, passing `namespace=None` means that no remapping rule is passed for the namespace.
That means you cannot know the node namespace at launch time, and then you cannot know the services names to load a component in the container.
We use in all containers "/" as the harcoded namespace, so maybe making that assumption isn't bad.
But I think

[2020-10-19 21:49] clalancette commented on #185
I mean in the above example, if you comment out the `namespace=''` line, you get the exception above.  Also, if you set `namespace=None`, you get the same behavior.

[2020-10-19 21:52] hidmic commented on #185
Agreed. But IMHO, that's something that `launch_ros.actions.LoadComposableNodes` has to do, as it is that action that requires the name to be fully qualified to derive the `load` service fully qualified name.

It's important to bear in mind that it is not required for `ComposableNodeContainer` to be given a node namespace unless you expect to load components using `launch`.

[2020-10-19 21:52] jacobperron commented on #185
I've haven't looked in detail, but I suspect that there are other patches related to composable nodes that need to be backported following #179. I had made a bunch of bug fixes related to launching composable nodes for Rolling that I wanted to backport to Foxy, but was blocked by backporting #153 (now backported in #179).

[2020-10-19 22:02] hidmic commented on #185
I think we have three separate problems:
1. `launch_ros.actions.LoadComposableNodes` is making assumptions without checking. We need to fix that.
2. Whether `launch_ros.actions.ComposableNodeContainer` should assume/force/require a namespace. Considering we control the binary, we could either assume root or require namespaces. But otherwise I think we have to be careful with blanket remappings. Pr

[2020-10-19 23:22] jacobperron commented on #185
See https://github.com/ros2/launch_ros/pull/186 for a proposed fix. We applied the same logic in LifecycleNode in #179 to maintain backwards compatibility, but missed ComposableNodeContainer since there is a lack of unit tests.

[2020-10-19 23:46] jacobperron commented on #185
FWIW, the `namespace` parameter of `ComposableNodeContainer` [*is* mandatory for Rolling](https://github.com/ros2/launch_ros/blob/e84a4757781c6471b2074d55a28e33fd27a15fa5/launch_ros/launch_ros/actions/composable_node_container.py#L54-L55). But, for Foxy it is optional (defaulting to `/` if unspecified) and it should remain that way, IMO, to avoid breaking user-code.

#186 should fix the regression

[2020-10-20 13:12] clalancette commented on #185
Huh, interesting.  I guess it is mandatory at the API level, but it is not checked that it is given in Rolling.  That is, if you don't give one in Rolling, you don't find out until the rcl layer fails:

[code]

Agreed 100% on this one.

I think we should validate whether that is the case at the launch_ros level, rather than just assuming it.  Otherwise users will get difficult-to-debug errors late

[2020-10-20 21:08] ivanpauno commented on #185
I think that making them mandatory in `Node` isn't a bad idea.
We could also take `/` as the default, instead of the one harcoded in the node (i.e. actually passing a remapping rule `__ns:=/`).

I have opened https://github.com/ros2/launch_ros/pull/189 to make it actually mandatory.

[2020-10-20 23:04] jacobperron commented on #185
AFAIK, this issue was resolved in  #186. Please re-open or comment if I'm mistaken.

[2020-10-20 23:04] #185 closed

[2020-10-21 13:20] hidmic commented on #185
In most cases, it'll be OK. But the ability to compose other nodes isn't exclusive to the typical containers nodes that `rclcpp_components` provides. So I think we should always check.

[2020-10-21 13:35] clalancette commented on #185
@jacobperron Looks like we still need a release of `launch_ros` to get this out to users.  Would you like me to do it, or are you still waiting for additional backports?

[2020-10-21 13:35] hidmic commented on #185
I agree with that statement.

I disagree. If some executable contains N different nodes, with their own names and namespaces carefully crafted, and `launch_ros.actions.Node` starts remapping namespaces for the sake of consistency, I won't have an option but to fall back to `ExecuteProcess` to launch it.

Ultimately, if an action B uses an action A and has a requirement on it, then action B should

[2020-10-21 14:12] ivanpauno commented on #185
Sounds reasonable to me.

https://github.com/ros2/launch_ros/pull/189 will fix that then.

[2020-10-21 15:44] hidmic commented on #149
Circling back. @danwblackburn your analysis is correct, but I think the problem stems from how those extensions are being discovered. [`launch.frontend.Parser.get_available_extensions()`](https://github.com/ros2/launch/blob/d648e19590d425e5d38411fe83fdb3b59f56d586/launch/launch/frontend/parser.py#L111-L115) relies on frontend entrypoint names (e.g. `xml`, `yaml`). Perhaps each parser could provide

[2020-10-21 15:56] ivanpauno commented on #149
Adding `.launch` as an extension that auto-completion recognizes sounds like a reasonable thing to do.

[2020-10-28 00:00] jacobperron commented on #184
See https://github.com/ros2/launch_ros/pull/195 for a fix.

[2020-10-28 01:43] #184 closed

[2020-10-28 22:50] jacobperron opened #196 "SetRemap does not work inside a launch include action"
## Feature request

#### Feature description

The SetRemap action was added in https://github.com/ros2/launch_ros/pull/158 to give users an easy way to apply remaps to multiple nodes at the same scope. However, if the SetRemap action is placed *inside* an include action, then the remappings are not applied.

For example, I want to remap the topic for nodes included in a launch file:

[code]

But,

[2020-10-28 22:51] jacobperron commented on #196
As an aside, I think it would be nice to just name the action `<remap>` (like in ROS 1). Maybe there's a good reason to not change the name though.

[2020-10-29 15:29] ivanpauno commented on #123
Fixed in https://github.com/ros2/launch_ros/pull/190.

[2020-10-29 15:29] #123 closed

[2020-11-03 20:00] adamsj-oci commented on #165
I think `xterm` levies an additional dependency on having X installed and configured. What about systems where it's not default to have an X service running like Mac, Windows, containers, etc?

[2020-11-03 20:12] wjwwood commented on #165
Using `gdb` also places a dependency on it. macOS uses `lldb` and most windows users would use something else. I don’t see using xterm as any different. It is definitely a non portable solution.

As for containers and such you could use another solution to control focus, like screen or remix maybe. But I don’t see it as a launch specific problem to solve. We can add helpers if good solutions come

[2020-11-03 20:37] adamsj-oci commented on #165
I understand what you're saying about `gdb` and `lldb` adding dependencies but I think it's for a different reason than `xterm`. I think the use case we're attempting to handle is to get a back trace or some other debug function. The assumption is that a command line debugger (from any platform) could be used from the same terminal we use to launch. We would insert the appropriate command line deb

[2020-11-03 21:21] wjwwood commented on #165
I think you're missing the point, my point is that xterm is linux specific just like the debugging tools. It's different than the fact that xterm needs X.org setup, sure, but it's a similar kind of non-portable things you might put in your launch file. It might work on your machine, but not others.

For the fact that xterm needs X.org, you could replace xterm with any number of other tools that al

[2020-11-03 21:28] hidmic commented on #165
@wjwwood you beat me to it :joy:

As William mentioned, @adamsj-oci for your use case i.e. a single (remote?) terminal in a machine that has no X server running, you could resort to something like `tmux`. From within a `tmux` session, use `tmux split-window gdb -ex run --args` as your launch prefix. You'll get one pane for each process that has said prefix.

[2020-11-03 21:31] wjwwood commented on #165
Definitely something worth adding to the examples I think, thanks @hidmic. :)

[2020-11-03 21:45] adamsj-oci commented on #165
Whatever moves us closer to a general solution for breakpoint debugging from processes spawned from launch. I'll try `tmux`. I definitely think some examples on index.ros.org would be helpful.

[2020-11-04 00:02] SteveMacenski commented on #165
Would you like to write one? It's pretty simple markdown and the repo for a PR is [here](https://github.com/ros2/ros2_documentation/). Wouldn't take you more than an hour end-to-end!

[2020-11-04 16:37] adamsj-oci commented on #165
Good idea. If I figure it out, I'll definitely make an update.

[2020-11-04 16:58] SteveMacenski commented on #165
Here's an [example](https://navigation.ros.org/tutorials/docs/get_backtrace.html) of my GDB tutorial on the Nav2 documentation. As you can see, I also need to update from our xterm conversation as this was written while I was under the impression this was fixable.

[2020-11-04 21:02] adamsj-oci commented on #165
Combining this suggestion with the example @SteveMacenski provided, it looks like I have to start tmux first to make this work otherwise I get:

`no server running on /tmp/tmux-0/default`

[2020-11-04 21:04] hidmic commented on #165
Correct. You can follow the second half of the suggestion:

[2020-11-04 23:03] adamsj-oci commented on #165
I'm still working on an elegant way to tmux the two nodes/processes in my launch file. While I was working that, it occured to me that the easier way to get a back trace is to get a core file on crash. If someone would want to step through, the core file obviously wouldn't work.

What @hidmic described, worked in a way for me but I really need to get the right `gdb` options to make the process run

[2020-11-09 21:07] ivanpauno commented on #196
`include` doesn't take any subtag.

The main reason is that `include` is defined in `launch` and not in `launch_ros`.
The only two subtags that make sense are `set_param` and `set_remap`.

I think that now that https://github.com/ros2/launch_ros/pull/198 and https://github.com/ros2/launch/pull/468 have landed this should at least not be confusing.

[2020-11-10 00:54] jacobperron commented on #196
That makes sense.

After looking at this again, I was mistakenly thinking that this was possible in ROS 1, but it is not. We accomplish this the same way in ROS 1's roslaunch, e.g.:

[code]

[2020-11-10 00:54] #196 closed

[2020-11-18 13:28] almaslov opened #199 "Shutdown hangs on SIGINT"
## Bug report

**Required Info:**

- Operating System:
  - DISTRIB_ID=Ubuntu
  - DISTRIB_RELEASE=20.04
  - DISTRIB_CODENAME=focal
  - DISTRIB_DESCRIPTION="Ubuntu 20.04.1 LTS"
- Installation type:
  - binaries
- Version or commit hash:
  - ros-foxy-ros2launch                             0.10.3-1focal.20201008.001853
- DDS implementation:
  - Fast-RTPS

#### Steps to reproduce issue
Any rarely loggi

[2020-11-18 17:41] jacobperron commented on #199
I can confirm the issue also affects Rolling.

[2020-12-04 23:09] SteveMacenski commented on #165
FYI, the ROS2 backtrace tutorial now reflects the `xterm` recommendations: https://navigation.ros.org/tutorials/docs/get_backtrace.html

I'm not sure the best way to handle this ticket from here. I think we have a sufficient work around to say that things work, however not really what I'd consider to be a "complete" solution.

I'd be OK with closing out this ticket if we think having GDB inline of

[2020-12-10 12:56] vincentrou commented on #41
This issue seems to be linked to this ongoing refactoring : https://github.com/ros2/design/pull/272#issuecomment-669522706

[2020-12-11 16:03] clalancette commented on #165
"Never" is a long time, but at present I don't see a way towards that goal.  So definitely "for now".

I'm willing to put a note somewhere, but I'm not sure where.  We have https://index.ros.org/doc/ros2/Tutorials/Launch-system/ , but I'm not sure if that is visible enough.  There is also https://github.com/ros2/ros2_documentation/pull/876 , but we haven't merged it yet.  @SteveMacenski any opinio

[2020-12-11 20:24] SteveMacenski commented on #165
@adamsj-oci are you open to writing a quick document about this for ROS index? That tmux stuff would good too!

@clalancette I agree neither of those are really great places, but the first look seems like the best of the two. I think a separate doc on this topic would be helpful, it doesn't have to be very long, just cover the basics of how to do it with xterm / tmux and a note about  why it doesn

[2021-01-13 18:45] bostoncleek commented on #156
@ivanpauno [here](https://github.com/bostoncleek/2Rarm_ROS2_demo) is an example producing the error. You can run it locally.

Right now the yaml reads:
[code]

and the params are loaded correctly.

Modify it to (as shown in the ros2 tutorials):
[code]
and the params will not be visible for the `simple_arm` node when running `ros2 param list`.

[2021-01-14 09:14] Kettenhoax opened #211 "[foxy] Crash when using set_parameter"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - foxy latest release
- DDS implementation:
  - Fast-RTPS
- Client library (if applicable):
  - not applicable

#### Steps to reproduce issue

If relevant, ros-foxy-launch-xml apt version is 0.10.4-1focal.20201210.045802

Create launch file set_parameter.launch.xml

[2021-01-18 16:18] ivanpauno commented on #156
It's known that the format is different, and it's probably something we should modify.
My question was particularly about the launch process "hanging" if it doesn't found a parameter, but I'm not sure how that could happen and it doesn't seem to happen in your example.

[2021-01-20 16:26] v-lopez opened #214 "Evaluate parameters exception loading URDF"
## Bug report

**Required Info:**

- Operating System: Ubuntu 20.04
- Installation type: Binaries
- Version or commit hash: 0.11.1-1focal.20210106.015448
- DDS implementation: Fast-RTPS

#### Steps to reproduce issue

A full example is going to take a few files, and the issue is simple enough.

I am trying to load a URDF file into a `robot_description` argument via Substitutions.

The urdf is gene

[2021-01-26 10:17] facontidavide commented on #156
Duplicate of this well known issue:

https://github.com/ros2/rclcpp/issues/715

[2021-01-26 13:38] ivanpauno commented on #156
I think that using a bit of logic to support both file formats, the one that starts with `<node_name>: ros__parameters:` and the one that's directly a parameters dict would be fine.

For supporting both, either deprecating the `parameters` argument in `ComposableNode` in favor of one supporting the new format or using the same argument and detecting at runtime what format is being used, would be f

[2021-01-26 16:46] facontidavide commented on #156
My two cents: I strongly prefer solution 2

[2021-02-01 19:13] sloretz opened #217 ""Fatal Python Error: Aborted" in test_composable_node_container.py using RTI Connext in Foxy Nightly"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Focal
- Installation type:
  - Source
- Version or commit hash:
  - 7013bc3667c909a29e62f1b83d0ace628ad50a55>
- DDS implementation:
  - RTI Connext
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue

Unknown

#### Expected behavior

Tests pass

#### Actual behavior

It looks like the [cpython interpreter is r

[2021-02-09 00:53] mjeronimo commented on #211
Fixed with #218 which backports the fix to Foxy.

[2021-02-09 00:53] #211 closed

[2021-02-13 16:08] rcywongaa commented on #165
This doesn't seem to work as `tmux split-window` runs the command in a bare `sh` shell (or bypasses the shell completely), thus you lose all the ROS related environment variables which leads to errors like
[code]
I have yet to find a way to override this behavior.  In order to have `split-window` run multiple commands, quotes are required, but there's no way to also include the actual executable i

[2021-02-15 18:46] hidmic commented on #165
Ahh, yeah, there's a subtle gotcha in there. You must source your workspace in the same environment in which the `tmux` server is started (see [here](https://man7.org/linux/man-pages/man1/tmux.1.html#GLOBAL_AND_SESSION_ENVIRONMENT)). Unless you're running many sessions simultaneously, sourcing your workspace before running `tmux new-session` will do.

---

re: prefix improvements. Contributions ar

[2021-02-15 20:32] adamsj-oci commented on #165
I didn't get it working. I decided to use core files instead which solved my immediate problem. I do think there should be an example on index that equals what we had for functionality in ROS1.

[2021-03-01 09:40] twhuhn opened #219 "Feature: List arguments recursively"
## Feature request

#### Feature description

`ros2 launch -s` should be able to list the parameters of included files as well, e.g. by adding an option `-r, --recursive`.

This is needed because launch arguments will get passed down to included files, and thus should be available to the user from the CLI.

While adding this, this functionality should be extended to `-p` as well, giving maybe a tr

[2021-03-05 19:02] emersonknapp commented on #19
Hey - I was just playing with components and wanting this exact thing, mostly for interactive purposes - e.g. `ros2 run my_package my_component` with Ctrl+C to exit the node - without having to do 2 commands to start a container then load the component into it. Did this part of the functionality get built? Or, is there a dedicated issue tracking it?

[2021-03-08 19:25] jacobperron commented on #19
@emersonknapp We added some CMake magic to help build standalone executables from node components (https://github.com/ros2/rclcpp/pull/784). [For example](https://github.com/ros2/demos/blob/ed0299dc808f94b3c995dd4530680560e07226ff/demo_nodes_cpp/CMakeLists.txt#L81-L83), `demo_nodes_cpp` takes advantage of it:

[code]

Basically, when registering the component with `rclcpp_components_register_node`

[2021-03-08 19:29] jacobperron commented on #19
Considering the extensible nature of launch, maybe it makes more sense to create a specialized package, `launch_rclcpp_components`, that provides this specific functionality using the container provided by `rclcpp_components`.

[2021-03-08 20:04] emersonknapp commented on #19
@jacobperron thanks for that extra context, the CMake stuff meets my needs - sorry to have derailed the thread slightly off topic.

My understanding of this issue is, yes, to just make that syntax less verbose. It probably doesn't need to exist in `launch_ros` - somebody could write it as a simple function in their project if it's a common use case (in which case though, why use components?)

This

[2021-03-12 00:39] jacobperron commented on #219
I think this ticket is basically the same as https://github.com/ros2/launch/issues/313. IIUC, there are some technical hurtles that need to be overcome in order for to achieve what is being described.

[2021-03-14 07:39] kenji-miyake opened #220 "push-ros-namespace is not working for LifecycleNode if namespace is empty"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - 0.11.1
- DDS implementation:
  - default

#### Steps to reproduce issue

[code]

[code]

#### Expected behavior

Lifecycle nodes will be also namespaced.
In this case, `/lc_talker` should be `/test/lc_talker`.

#### Actual behavior

No namespace is given to the li

[2021-03-18 12:01] rob-clarke opened #221 "[ros2launch] [cli] ros2 launch fails with absolute path and argument"
## Bug report

**Required Info:**

- Operating System:
ros:foxy docker image on Ubuntu 18.04 (Likely affects all)
- Installation type:
binary in docker image (Likely affects all)
- Version or commit hash:
Version reported in ros2launch package.xml is 0.11.1
- DDS implementation:
Whichever is default in docker image (Likely affects all)
- Client library (if applicable):
Not applicable to issue

###

[2021-03-18 19:02] hidmic commented on #221
Thanks for reporting @rob-clarke ! A fix is most welcome. Handling `get_package_prefix()` errors should be enough.

[2021-03-19 13:32] rob-clarke commented on #221
If the PR on ament index is incorporated. I'm happy to expand the current flow to include the new `InvalidResourceNameError`. Is there any way of versioning the dependencies?

[2021-03-19 19:06] hidmic commented on #221
There is, but it is usually implied by the ROS distribution. Both `ament_index` and `ros2launch` fixes will apply to Rolling (i.e. the rolling distribution). To have them in Foxy they'll need to get backported. Since these can be deemed bug-fixes, that door remains open I believe.

[2021-03-26 00:25] jacobperron commented on #220
Oops, looks like #179 wasn't backwards compatible after all.

Thanks for the detailed report!

I think this is the correct way to patch it: https://github.com/ros2/launch_ros/pull/222

@kenji-miyake Could you give that PR a try?

[2021-03-26 00:33] kenji-miyake commented on #220
@jacobperron Thank you for checking this! Okay, I'll try it. 😄

[2021-03-28 06:37] kenji-miyake commented on #220
@jacobperron I'm sorry to be late. I've checked the PR and it worked for my use case!
I tried some patterns:
1. `test.launch.xml` (as written in the description)
2. Disable `push-ros-namespace` in `test.launch.xml`
3. Add `namespace` to `lifecycle_demo.launch.py`

[2021-03-31 23:26] #220 closed

[2021-04-01 13:03] ksuszka opened #223 "ros2 launch with ComposableNodes doesn't terminate on SIGTERM"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - official docker ros:foxy and ros:rolling
- Version or commit hash:
  - N/A
- DDS implementation:
  - rmw_fastrtps_cpp
- Client library (if applicable):
  - ros-*-demo-nodes-cpp used as an example

#### Steps to reproduce issue

1. Create `test.launch.py` launch file with composable node:
[code]
2. Run

[2021-04-01 13:20] ksuszka opened #224 "Closing launch file if required composable node shuts down"
## Feature request

#### Feature description
ROS1 launch system has "required" parameter. In ROS2 launch system the same functionality can be implemented using on_exit event. However this only works for standalone executables. It would be nice to have the same functionality for composable nodes.

#### Implementation considerations
At the moment we implemented ugly workaround. We periodically check

[2021-04-08 06:01] k0suke-murakami opened #228 "Could not finish process when launching a component with sleep."
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binaries
- Version or commit hash:
  - `$ apt-cache policy ros-foxy-launch-ros`
  0.11.1-1focal.20210225.220443
- DDS implementation:
  - cyclone_dds
- Client library (if applicable):
  -

#### Steps to reproduce issue

1. Clone demo repository
   `$ git clone git@github.com:ros2/demos.git`
2. Checkout

[2021-04-15 13:03] AzaelCicero opened #231 "Cannot run launch file with absolute path and arguments"
## Bug report

**Required Info:**

- Operating System:
  Ubuntu 20.03
- Installation type:
  Binaries
- Version or commit hash:
  - foxy
- DDS implementation:
  - Cyclone

#### Steps to reproduce issue
Just try to run launch file with absolute path and some arguments:
``` ros2 launch /absolute/path/to/launch.launch.py argument:=value ```

#### Expected behavior
Launch file will be executed.
#### A

[2021-04-15 14:25] clalancette commented on #231
This is a duplicate of #221 , so closing.

[2021-04-15 14:25] #231 closed

[2021-04-20 10:01] adamdbrw commented on #228
Confirmed that it happens with Foxy.

With Rolling, however:

[code]

note that it states "Abandoning wait" so the case seems to be handled.

If I add if `(rclcpp::ok())` check before creating the timer it instead misbehaves a bit on close:
[code]

I would say it should terminate more gracefully, but it is a definitely a different issue on Rolling than on Foxy.

[2021-04-20 13:50] hidmic commented on #228
This doesn't look like an issue with `launch_ros`. Hangs on Foxy indicate an issue with `launch` signal handling, which has changed a bit in Rolling (for the better I hope, and it seems like it in @adamdbrw repro). The rest is [`ComponentManager::OnLoadNode`](https://github.com/ros2/rclcpp/blob/b8df9347a10bff383fdc8890c5b1bfdf16430d8f/rclcpp_components/src/component_manager.cpp#L125) misbehaving o

[2021-04-22 16:20] adamsj-ros opened #232 "Published API documentation"
## Bug report

**Required Info:**

- Operating System:
  -  any
- Installation type:
  -  any
- Version or commit hash:
  -  foxy branch
- DDS implementation:
  -  N/A
- Client library (if applicable):
  -  N/A

#### Steps to reproduce issue

Where is the published API for `launch_ros`? I see this post on [answers](https://answers.ros.org/question/376720/how-to-remap-topic-in-a-ros2-launch-file/)

[2021-04-22 18:45] adamsj-ros commented on #232
I didn't notice a makefile for generating Sphinx documentation. How are the docs manually generated? Maybe that could go into a new `README.rst`?

[2021-04-22 23:52] mjeronimo commented on #223
I was able to reproduce this with Patch Release 4 of Foxy, but not the latest Rolling release (https://ci.ros2.org/job/ci_packaging_linux/440/).

@jacobperron Any idea what might have been fixed? Seems like something that could be back-ported (or released) to Foxy.

[2021-04-23 13:18] adamdbrw commented on #228
I though this might be solved by https://github.com/ros2/launch/pull/500 and https://github.com/ros2/launch_ros/pull/225/ which were only recently backported to Foxy, but it is not the case:
Most up to date versions which contain these PRs, 0.11.2 launch-ros and 0.10.5 launch, still have the issue.

[2021-04-23 13:59] adamdbrw commented on #228
Found it! It is enough to apply https://github.com/ros2/launch_ros/pull/174 to solve the issue. I saw that the issue was planned for backports as far back as Foxy patch 4, but never made it. Any insights why?
The original issue: https://github.com/ros2/launch_ros/issues/171

[2021-04-27 19:53] jacobperron commented on #223
I recall there were a bunch of issues with ComposableNodes and launch that I helped fix since Foxy. I tried to start backporting them but ran into conflicts (there were some major refactors). Although, that being said, this sounds like it may be related to `launch` (not `launch_ros`). There are a bunch a somewhat recent changes related to signal handling in `launch`. It's a shot in the dark, but m

[2021-05-02 17:13] felixdivo opened #233 "Parameter from YAML file cannot be overridden"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 20.04
- Installation type:
  - binary via `apt`
- Version or commit hash:
  - Latest available Foxy @ `0.10.5-1focal.20210423.000156`
- DDS implementation:
  - default
- Client library (if applicable):
  - not relevant (`rclpy`)

#### Steps to reproduce issue

1. Create `example_launch.py`:

[code]

2. Create `parameters.yaml`:

[co

[2021-05-03 14:00] hidmic commented on #233
TL; DR check if specifying the node namespace makes it work.

PS: this should probably be a question in https://answers.ros.org/

I suspect the problem here is wildcard matching precedence in target node names for parameter overrides. In your parameter file, the target node for the parameter override is fully specified. Neither of the two `dict` instances you provide along that file have that info

[2021-05-04 11:09] felixdivo commented on #233
@hidmic Thanks for your swift response! I was convinced that this cannot be intended behavior and therefore posted about it here.

Indeed, once I add `namespace="/"` to the launch file it works fine. However, doesn't the namespace argument default to `/` anyways? Whether I use it or not, I get the same structure:

[code]

So shouldn't the empty namespace be considered equal to the `/` namespace an

[2021-05-04 13:13] hidmic commented on #233
Not necessarily, no. When instantiating an [`rclcpp::Node`](https://github.com/ros2/rclcpp/blob/c15eb1eaac2e05b507164a557cda5ff11d49c813/rclcpp/include/rclcpp/node.hpp#L100-L104), some code might set its namespace to something else. It'd unfortunate if `launch_ros` forced a remapping to `/` by default.

Agreed. Documentation contributions are super welcome.

[2021-05-04 16:49] mjeronimo commented on #223
@jacobperron  Yes, that's the one! I tested on Foxy and that particular commit fixes this issue.

[2021-05-04 21:01] djchopp commented on #214
Posting to hopefully help the next person. This issue looks to be resolved with #137 however that has not made it into the foxy branch/release. In the meantime, building from source on foxy using the master branch for **both** [launch](https://github.com/ros2/launch) and [launch_ros](https://github.com/ros2/launch_ros) allows you to do the following for the python launch system:

[code]

A xacro c

[2021-05-06 19:48] #233 closed

[2021-05-07 08:53] kenji-miyake opened #236 "Support LifecycleNode and EventHandler in frontend"
## Feature request

#### Feature description

It's useful to support LifecycleNode in frontend(xml) as well.

As for LifecycleNode itself, if we only use simple launch files as below, it can be done by just exposing like this https://github.com/kenji-miyake/launch_ros/commit/8daecd810d65ebdea6df32ab145137faa343a80d.

[code]

However, I believe it's not enough useful because we usually would like t

[2021-05-19 08:01] masynthetic commented on #7
is there a workaround/fix for this? remapping the `rclpy.create_node()` parameter does not seem to do anything, any use of the `name=` parameter in the launch file seems to cause the issue

[2021-05-19 15:59] hidmic commented on #7
@masynthetic  `launch_ros.actions.Node` is not a multi-node aware action, so yes, it won't work as you intend in that case.

If you can't use components, a possible workaround is to launch your process as a plain process using `launch.actions.ExecuteProcess` and configure your nodes through command line arguments.

Alternatively, contributions are most welcome. A multi-node aware action proposal w

[2021-05-19 23:23] jacobperron opened #239 "ROS Timer Action"
## Feature request

#### Feature description

Similar to the [TimerAction](https://github.com/ros2/launch/blob/3a5c9df2e384271637ac029f48f020b7916498d6/launch/launch/actions/timer_action.py), it would be great to have a timer action that was aware of ROS time (ie. rather than wall clock, it could use ROS time as defined [here](https://design.ros2.org/articles/clock_and_time.html)).

#### Implement

[2021-05-27 17:22] clalancette commented on #236
@jacobperron To provide some advice on how to move forward with this.

[2021-05-27 22:12] jacobperron commented on #236
@kenji-miyake Certainly, what you have is a good start (kenji-miyake@8daecd8). I would accept that in a pull request on its own.

Regarding exposing events and event handlers (etc) in the front-end, I suggest we open up a separate issue in [launch](https://github.com/ros2/launch). I imagine it should be easy to expose the [RegisterEventHandler](https://github.com/ros2/launch/blob/3a5c9df2e38427163

[2021-05-30 14:12] kenji-miyake commented on #236
Thank you!
I can't make time so much recently, but I'll try to work on this task, so please wait for that.
Or somebody else would like to proceed more quickly, then I'd appreciate it if they could open issues and implement a prototype.

[2021-06-10 14:05] rebecca-butler commented on #239
I've changed the usage a bit:
[code]

` use_sim_time` must be set if the user wants to use sim time, otherwise the timer will use system time. This seems cleaner than requiring an extra action to set the use_sim_time parameter. I also removed `cancel_on_shutdown` argument because the Shutdown event automatically destroys ROS timers.

[2021-06-10 20:10] ivanpauno commented on #239
I have a hard time imagining great use cases for this, but I don't mind supporting it.

[2021-06-13 17:43] rob-clarke opened #246 "CLI interface tests"
## Feature request

#### Feature description
Tests for the CLI interface.
#221 showed a failure of one of the expected modes of operation. When implementing the fix it would have been nice to have tests to ensure existing behaviour did not regress.

#### Implementation considerations
All that actually needs to be tested is that a call to `main` with appropriate arguments results in `launch_a_launc

[2021-06-13 17:44] rob-clarke commented on #221
Upstream PR has been merged so root issue is dealt with.

I've created a couple of PRs here that sidestep the issue by defaulting to `'single file'` mode and only switching to `'pkg file'` if the specified file does not exist. Confusing error messages may still occur but successfully completes all of the tests outlined above. One is against foxy, while one is against master.

Formalising the tests

[2021-06-15 15:56] #239 closed

[2021-06-15 17:02] rob-clarke commented on #221
@hidmic / @clalancette Could you take a look at the PRs?
#230 against master and
#245 against foxy

[2021-06-15 18:36] rebecca-butler opened #247 "Refactor RosTimer to inherit from TimerAction"
The RosTimer action should be refactored to inherit from the launch TimerAction as they share a lot of code.

[2021-06-21 15:24] #247 closed

[2021-06-28 20:55] chapulina commented on #217
[Another failure](https://build.ros2.org/view/Fci/job/Fci__nightly-cyclonedds_ubuntu_focal_amd64/286/consoleFull#console-section-1228) this week, this time with CycloneDDS.

The output seems to be the same as the one on the description, but I'll paste it here as reference:

<details><summary>Output</summary>
<p>

[code]

</p>
</details>

https://github.com/osrf/buildfarmer/issues/207

[2021-06-29 15:22] #60 closed

[2021-06-29 18:47] chapulina commented on #217
I ran this a few times locally on Ubuntu Focal with CycloneDDS and I can't reproduce the failure.

Looking at the various logs for this issue, it seems that the SIGABRT always happens during shutdown.

[2021-06-29 19:48] #142 closed

[2021-07-01 19:31] clalancette commented on #217
I've launch two testing jobs for this on the buildfarm:

* https://build.ros2.org/view/Fci/job/Fci__overlay_ubuntu_focal_amd64/40 is setup exactly the same as the failing nightly to make sure we can reproduce
* https://build.ros2.org/view/Fci/job/Fci__overlay_ubuntu_focal_amd64/41 is setup the same as 40, except that the recent change to osrf_pycommon is reverted.  This is to see if that change is

[2021-07-02 01:33] chapulina commented on #217
Both of them failed in a different way from this issue :upside_down_face:

[code]

And I don't see `test_launch_ros` being tested on either of them.

[2021-07-12 09:50] j-rivero commented on #217
Both of them finished with a SIGINT. I'm pretty sure that the problem is that it reached the timeout set at 240 minutes, exactly 4 hours. The `Fci__` jobs seems to be set to 240 minutes of timeout while the nightly builds are configured to 300 minutes.

[2021-07-14 17:57] christophebedard opened #255 "Declare dependencies on launch_{xml,yaml} parsers to make sure they're available"
## Feature request

#### Feature description

In some cases, if a package uses/runs launch files through `ros2launch` or `launch_testing` and nothing declares a dependency on `launch_xml`/`launch_yaml`, then the XML/YAML parsers won't be available. This causes weird failures and the cause isn't obvious.

Some example packages do declare an `<exec_depend>` or `<test_depend>` on one of the parser pa

[2021-07-14 17:57] christophebedard commented on #255
cc @hidmic want me to do it?

[2021-07-14 22:36] hidmic commented on #255
That'd be great @christophebedard. I'll make it official.

[2021-07-16 13:35] #221 closed

[2021-07-19 22:39] camm73 opened #257 "Selective application of launch-prefix from CLI"
## Feature request

#### Feature description
ros2/launch_ros#254 adds the `--launch-prefix` flag to provide a means of prepending the same prefix (e.g. `xterm -e valgrind`) to each executable command in the launch file. For large launch files this launches many instances of the desired prefix program even if the user may only require it for certain executables. Currently selectively applying prefi

[2021-07-20 19:22] Myzhar commented on #156
Has this issue been solved?
I just faced it today working with a launch file to demonstrate how to use ComposableNode with the ZED ROS2 wrapper with ROS2 Foxy

[2021-07-26 22:51] adamsj-ros opened #258 "consider porting `RewrittenYaml` from Nav2 to allow param overrides to YAML from launch"
## Feature request
Consider porting `RewrittenYaml` [from Nav2](https://github.com/ros-planning/navigation2/pull/771/files#diff-ddc85dea3844fd855756b5c6040387f0c9bb0739ddf54eab519191d7021b9aefR19).

#### Feature description

The use case is using YAMLs for default params but allowing to override individual params from launch. The overwrites could be extended to an override yaml.

[code]
This seems

[2021-08-01 20:19] sgstreet commented on #156
This is still present in Rolling.  What is the path forward?

[2021-08-06 19:30] hidmic commented on #257
I like the idea but this bit is unusual. How about using regex instead?

[2021-08-09 13:30] ivanpauno commented on #228
A backport for Foxy was done in https://github.com/ros2/launch_ros/pull/240, did that solve this issue @adamdbrw ?

[2021-08-09 14:02] adamdbrw commented on #228
Yes it did, we can close it.

[2021-08-09 14:21] #228 closed

[2021-08-09 17:30] camm73 commented on #257
Yeah I agree—that seems like a cleaner implementation.

[2021-08-18 10:23] Parv-Maheshwari commented on #46
@hidmic Are there any plans to include substitutions in the launch description. In my case, I made the namespace , a parameter dependent on the launch argument "robot<id>" which can take vaues like 0,1,2,,,,, . And my namespace is accordingly = "robot"+"robot<id>" i.e. robot0, robot1, etc.

But instead of this behaviour, I am receiving this error - rclpy.exceptions.InvalidNamespaceException: Inval

[2021-08-24 13:39] #37 closed

[2021-08-25 12:45] #149 closed

[2021-08-26 16:20] chapulina opened #262 "👩‍🌾 test_launch_ros segfaults on Foxy nightly"
## Bug report

**Required Info:**

- Operating System: Ubuntu Focal
- Installation type: Source
- Version or commit hash: 874412408e1077b9b38de5ee3ff8a0de6481c05f
- DDS implementation: CycloneDDS
- Client library (if applicable): rclpy

#### Steps to reproduce issue

I'm not sure if it's a spurious failure or if it will persist. We should keep an eye on the nightlies:

https://build.ros2.org/view/

[2021-09-03 21:27] #257 closed

[2021-09-08 19:13] shonigmann commented on #214
Just thought I'd share a workaround that works in Foxy now, without the need to checkout galactic/rolling versions of packages, using `OpaqueFunction` and the `xacro` python library:

[code]

While it is admittedly a bit harder to read than a typical launch file, it checks all the boxes for my use cases, anyways; namely it:

- supports `xacro` argument inputs when parsing a file
- supports dynamic

[2021-09-15 23:22] jacobperron opened #266 "test_ros_timer.test_timer_uses_sim_time fails if repeated"
## Bug report

**Required Info:**

- Operating System:
  - All platforms
- Installation type:
  - source
- Version or commit hash:
  - b348a81870588ad27b6bc9434b2ec4ce861ded0f
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

1. Build launch_ros
2. Run `test_ros_timer` with `--repeat-until-fail`, e.g.

[code]

#### Expected behavior

Test passe

[2021-09-16 19:24] #266 closed

[2021-09-20 17:57] sloretz commented on #217
Saw this issue again: https://build.ros2.org/view/Fci/job/Fci__nightly-connext_ubuntu_focal_amd64/312

[2021-09-24 23:30] sloretz commented on #217
grep'ing through the Connext Nightly job, I see a lot of "Fatal Python error: Aborted" in tests other than launch_ros. Maybe this is an issue from something lower level - rclpy or rosidl_python?

[2021-09-24 23:40] sloretz commented on #262
Possibly duplicate of #217

[2021-09-30 19:42] adityapande-1995 opened #272 "Feature request (``launch_testing``): Check if a topic is publishing messages, with a timeout"
## Feature request

#### Feature description
It would be nice to have a way to check if a topic is publishing messages (with a timeout).
THis suggestion came up in https://github.com/ros2/launch_ros/pull/263

#### Implementation considerations
One way to do that can be :
[code]

[2021-09-30 20:29] jacobperron commented on #272
IMO, ideally syntax would look like this:
[code]

However, we need an instance to a ROS node (and context). Maybe we can use the existing [`ROSAdapter`](https://github.com/ros2/launch_ros/blob/999b208a05998a83378f7ba273b8146ea3eb09d9/launch_ros/launch_ros/ros_adapters.py#L29) class, e.g.:

[code]

@ivanpauno @wjwwood, thoughts?

[2021-10-04 18:47] adityapande-1995 commented on #272
Relevant PR : https://github.com/ros2/launch_ros/pull/274

[2021-10-22 17:48] Blast545 opened #280 ":man_farmer: launch_testing_ros set_param_launch_test fails on Windows release"
## Bug report

**Required Info:**

- Operating System: Windows Release
- Installation type: Source
- Version or commit hash: 4bfd998ee32101467a8b5a80cdba0cd051678dbe
- DDS implementation: N/A
- Client library (if applicable): `rclpy`

#### Steps to reproduce issue
It's a test failure appearing in the `nightly_win_rel` jobs of the buildfarm.

https://ci.ros2.org/view/nightly/job/nightly_win_rel/209

[2021-10-27 22:38] wjwwood opened #283 "[launch_ros] use empty name for node namespace when only node name is given"
## Feature request

#### Feature description

At the moment, if you specify a node name but not a node namespace when using either `Node` or `LifecycleNode`, you will get something from launch like `<node_namespace_unspecified>/foo` when you ask for the full node name. This is likely surprising to users who are likely not thinking about the namespace when giving the name of the node.

My suggestio

[2021-10-28 21:51] #262 closed, assigned to nobody

[2021-10-30 15:18] Flova opened #323 "Support for conditional parameter import from yaml file in XML launch file"

[2021-11-03 16:50] Blast545 commented on #217
This issue was addressed with this backport: [launch_ros#279](https://github.com/ros2/launch_ros/pull/279).

Waited half a month to be sure it didn't happen again, for now I'll cose this issue.

[2021-11-03 16:50] #217 closed

[2021-11-05 14:22] Blast545 opened #285 ":man_farmer: `test_launch_ros` flaky Windows hangs"
## Bug report

**Required Info:**

- Operating System:
  - Windows
- Installation type:
  - Source
- Version or commit hash:
  - `master`

#### Steps to reproduce issue
Run a windows nightly job.

#### Expected behavior
All tests are run and job ends in a timely manner.

#### Actual behavior
Sometimes the job hangs, and never closes until someone manually ends it.

#### Additional information
This

[2021-11-09 17:17] Blast545 commented on #280
The window hangs issues seems to be unrelated to this particular issue and will be tracked here:  https://github.com/ros2/launch_ros/issues/285

I'll close this issue for now.

[2021-11-12 22:41] #255 closed

[2021-11-16 19:07] jacobperron commented on #214
@v-lopez Can you confirm if this is fixed with the latest changes on the `foxy` branch for `launch` and `launch_ros`?

[2021-11-16 20:38] pepisg opened #286 "Launch delay argument for nodes or other launch files"
## Feature request

#### Feature description
Hi! it would be great if an argument could be added to add a delay for launching a given node or launch file.
I think this could be useful to control the CPU load of the computing platform when launching a relatively big number of nodes (~40) by preventing all of them from launching at the same time.

If this feature already exits or can be easily imple

[2021-11-18 17:31] v-lopez commented on #214
Still getting that error:
[code]

With launch_ros at tag 0.11.5 and launch 0.10.7

[2021-11-18 23:00] jacobperron commented on #214
@v-lopez Can you share the launch file to reproduce the error? I think you should explicitly tell launch that the parameter type is a string, e.g. [in Python](https://github.com/ros2/launch_ros/blob/b84b72748e22d8fd648151d96478d19305c96c82/test_launch_ros/test/test_launch_ros/actions/test_node.py#L218) or in XML you can use the `type` attribute, e.g.

[code]

[2021-11-29 21:15] SteveMacenski commented on #258
I'm happy to donate any and all work from Nav2 that would have more general use across the community. I'd love if this was here!

[2021-11-29 21:21] SteveMacenski opened #291 "Provide more meaningful output on error"
## Feature request

#### Feature description

When launch cannot find a package, a launch file does not exist, a node doesn't exist, or generally speaking something goes wrong, the traceback provided really doesn't help in debugging the issue. I would really like these to be caught and categorized so that users receive a meaningful error message back about what they're doing wrong to be able to fi

[2021-11-30 17:41] Blast545 commented on #285
It happened again here: https://ci.ros2.org/view/nightly/job/nightly_win_rep/2443 (over the weekend)

[2021-12-01 22:53] joncppl commented on #286
in python launch files I implemented this by wrapping each node to delay with a launch.action.TimerAction.

It would be nicer to just be able to add the delay as an argument argument though!

eg. launch_ros.actions.Node could emit a TimerAction wrapping what it does now

[2021-12-02 07:18] jbohren commented on #7
This is what brought me here.

Since even a single-node executable is an _executable which owns a node_ and not the _node itself_, it feels like `launch_ros.actions.Node` is a misnomer and could lead to confusion and unexpected behavior. Something like `ExecuteSingleNodeProcess` would definitely reduce the likelihood of that occurring.

Also is it weird that some `actions` are written as imperativ

[2021-12-06 17:55] DLu commented on #214
I've run into this problem too, and added better error messages in this PR: https://github.com/ros2/launch_ros/pull/275

[2021-12-06 17:56] DLu commented on #214
(and we discussed different ways to fix the problem here https://github.com/ros2/launch_ros/pull/268 but [ultimately decided](https://github.com/ros2/launch_ros/pull/268#issuecomment-933836975) to just force people to explicitly state that its a string.

[2021-12-07 19:27] adityapande-1995 opened #292 "WaitForTopics Utility fails on WIndows Debug builds"
## Bug report

- Operating System:
  - Windows 10
- Installation type:
  - CI installation, with debug builds
- Version or commit hash:
  - Came up here : https://github.com/ros2/launch_ros/pull/288
- Client library (if applicable):
  - NA

#### Steps to reproduce issue
Windows debug builds (in CI) fail for the ``WaitForTopics`` utility, where the test cases cannot receive messages on a topic.
Lin

[2021-12-08 16:20] hidmic commented on #285
@Blast545 is this is still an issue?

[2021-12-08 16:34] hidmic commented on #283
Hmm, if you have more than one node in the same process this would wreak havoc.

---

I agree these `unspecified` tokens are a bit terse, but they do reflect the fact that `launch` has no idea what the fully qualified node name is. Perhaps returning `unknown` or a question mark for its node name would emphasize that. Or maybe we can raise an informative exception on node name request.

[2021-12-08 16:49] hidmic commented on #258
Right, because `Node` was not written with multi-node processes in mind.

#215 will indirectly address this issue by generalizing process execution via `launch`. It needs work still though.

[2021-12-14 20:36] Blast545 commented on #285
I haven't seen it happening anytime recently, I'll close it for the time being and re open it if the same error happens again.

[2021-12-14 20:36] #285 closed

[2021-12-21 21:17] audrow commented on #280
Reopening as I saw this error here: https://ci.ros2.org/job/ci_windows/16088/.

[2021-12-21 21:22] Blast545 commented on #280
Some recent metrics about this error in the nightlies:

The last time it happened on the Windows release job:
https://ci.ros2.org/view/nightly/job/nightly_win_rel/2118/ (Nov 15th, 1 build)

Before that
https://ci.ros2.org/view/nightly/job/nightly_win_rel/2104/ (Nov 1st, 19 consecutive builds)

Last time it happened on the Windows repeated jobs:
https://ci.ros2.org/view/nightly/job/nightly_win_rep/

[2022-01-06 18:06] adityapande-1995 commented on #280
Disabled the test on Windows here : https://github.com/ros2/examples/pull/333

[2022-01-06 23:07] jacobperron commented on #214
@v-lopez Friendly ping. Let me know if this is still an issue after trying to explicitly set the type to string. Otherwise, I'm inclined to close this ticket.

[2022-01-06 23:11] jacobperron commented on #286
Yeah, I'd rather see examples of people using `TimerAction` to accomplish this task and we can later consider adding a utility (or simply an example) to launch as common patterns arise.

[2022-01-10 21:02] sloretz commented on #280
Reopening - I think this PR is about the launch_testing_ros `set_param_launch_test`, not `WaitForTopics`. I'm still seeing it in CI for https://github.com/ros2/rosidl_python/pull/149 (but I'm not seeing it fail on my Windows machine locally)

[2022-01-10 21:06] adityapande-1995 commented on #280
The test is disabled for windows : https://github.com/ros2/examples/blob/6e76f78950a949007825f623b38f8f2305eac387/launch_testing/launch_testing_examples/launch_testing_examples/set_param_launch_test.py#L43, maybe we need a new release of ``ros2/examples`` ?

[2022-01-10 21:10] #280 closed

[2022-01-18 14:42] mlanting commented on #280
I've seen this failure a couple times on my Ubuntu machine while repeatedly running tests in an attempt to recreate a different intermittent failure with one of the timer tests.

[2022-01-26 22:45] doisyg opened #294 "Make ComposableNode support "condition""
## Feature request
Make `ComposableNode` support a `condition`, for instance:

[code]
#### Feature description

Same feature as for `Node`, `IncludeLaunchDescription` and `ComposableNodeContainer`

[2022-01-28 12:05] karl-schulz commented on #136
Is there also a fix available for python launch files? Having special characters like `:` or `#` still breaks the parameter parsing in that case...

Example
[code]
... results in the same error as in the examples in this issue.

See also my comment in https://github.com/ros/robot_state_publisher/issues/155#issuecomment-1023372556

[2022-02-01 02:19] jacobperron commented on #214
Closing, since I believe this issue as been addressed. Please comment or re-open if I'm mistaken.

[2022-02-01 02:19] #214 closed

[2022-02-03 16:11] clalancette commented on #223
I believe that this has been fixed in Foxy, so closing this out.  If you are still having problems with this, please feel free to reopen.

[2022-02-03 16:11] #223 closed

[2022-02-21 20:10] JakubHazik commented on #221
This bug is still reproducable on the newes `galactic` distribution. Do you plan to fix it?

[2022-02-23 03:07] jacobperron commented on #221
Good catch. I think we should make it consistent between Foxy and Rolling. Here's a backport for Galactic: https://github.com/ros2/launch_ros/pull/296

[2022-03-17 03:03] HappySamuel commented on #142
Hi

I think there's a need to edit this guidance, else everyone will still using `push_ros_namespace` and stumbled until they found this `push-ros-namespace` solution
![Screenshot from 2022-03-17 11-00-56](https://user-images.githubusercontent.com/18137963/158728183-5f9840e1-24af-4261-abb8-af7163ff1c54.png)

Best,
Samuel

[2022-03-17 13:13] clalancette commented on #142
Sorry, it's not clear to me what the issue is.  We prefer `push_ros_namespace` in Rolling, and that is what is shown in the example you are talking about.  For Foxy and Galactic, we only have `push-ros-namespace`, and the tutorials reflect that.

Either way, if you have a question about the usage please open a question on https://answers.ros.org.  If you think you've genuinely  found a bug, please

[2022-03-18 01:24] HappySamuel commented on #142
Thanks for the clarification, i didn't notice that is for Rolling. Sorry for causing trouble.

[2022-03-29 16:20] audrow commented on #292
This seems to have come up on the [`nightly_linux_debug`](https://ci.ros2.org/job/nightly_linux_debug/2251/testReport/junit/launch_testing_ros.test.examples/wait_for_topic_launch_test/wait_for_topic_launch_test/).

[2022-03-29 16:28] Blast545 commented on #292
@audrow I think it's different. The previous error on Windows was a test regression. In this case the errors are failing in the same place, but it seems the build is red because there's a failure to close to the tests successfully:

[code]

[2022-03-29 17:06] adityapande-1995 commented on #292
The tests have been disabled on Windows : https://github.com/ros2/launch_ros/blob/4192b02af65cb3a8693cc644952f66b71bfbaa8b/launch_testing_ros/test/examples/wait_for_topic_launch_test.py#L52

[2022-03-29 17:17] Blast545 commented on #292
@adityapande-1995 Yeah, you are right. This is currently affecting `nightly_linux_debug` jobs:
https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2251/

But I'll open a new thread for it. As this test is disabled on Windows I think you can close this issue.

[2022-03-29 17:18] adityapande-1995 commented on #292
Thanks @Blast545 !

[2022-03-29 17:18] #292 closed

[2022-03-29 18:21] Blast545 opened #304 ":man_farmer: `launch_testing_ros` regressions `wait_for_topic_launch_test` on linux"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu `jammy`
- Installation type:
  - Source, buildfarm
- Version or commit hash:
  - Rolling, master
- DDS implementation:
  - Default: Fast-RTPS
- Client library (if applicable):
  - Probably `rclpy`

#### Steps to reproduce issue
Run a buildfarm job on `nightly_linux_debug`

#### Expected behavior
All tests pass.

#### Actual behavior

[2022-04-01 17:54] Blast545 commented on #304
Today it appeared without an exception, just the test failure, see:
https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2254/testReport/junit/launch_testing_ros.test.examples/wait_for_topic_launch_test/wait_for_topic_launch_test/

[2022-04-06 23:52] sloretz commented on #304
I'm able to reproduce both failures ( `assert wait_for_node_object_2.wait()` and `AssertionError: assert set() == {'chatter_0',..., 'chatter_4'}` , but only when running `stress --cpu N`. With an idle system I can't reproduce at all.

[2022-04-07 01:06] sloretz opened #308 "WaitForToppics spends a long time waiting for the thread to join"
While debugging #304 I noticed `WaitForTopics` spends a lot of time joining the thread it creates (up to 1 second).

https://github.com/ros2/launch_ros/blob/a114e1fd5d92a0e672cab31002bc6e086521e985/launch_testing_ros/launch_testing_ros/wait_for_topics.py#L82

It looks like the thread spins for a whole second before checking if it should shutdown:

https://github.com/ros2/launch_ros/blob/a114e1fd5d

[2022-04-08 15:59] Ace314159 opened #310 "Hang after repeated ctrl+c on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows 10
- Installation type:
  - From source
- Version or commit hash:
  - Foxy
- DDS implementation:
  - N/A
- Client library (if applicable):
  - N/A

#### Steps to reproduce issue

This occurs with any launch file where quitting takes enough time for multiple ctrl+c's to be sent. I've verified the issue with the following two:
[code]

[2022-04-14 19:42] adityapande-1995 commented on #294
Just tested this locally, and ``condition`` works for ``Node`` :
[code]

[2022-04-19 12:52] Keng12 commented on #308
Couldn't the same be achieved by changing the timeout parameter from 1.0 to 0? I. e.:

`self.__ros_executor.spin_once(0.0)`

[2022-04-19 15:55] sloretz commented on #308
`0` means the executor [won't wait for work](https://github.com/ros2/rclpy/blob/6f7cfd0c73bda1afefba36b6785516f343d6b634/rclpy/rclpy/executors.py#L309-L310). Without any other blocking it would use up to a full CPU core.

[2022-04-19 18:58] Blast545 opened #312 "`test_load_composable_nodes.py` flaky on Windows"
## Bug report

**Required Info:**

- Operating System:
  - Windows
- Installation type:
  - Source, buildfar
- Version or commit hash:
  - `main`
- DDS implementation:
  - N/A
- Client library (if applicable):
  - `rclpy`

#### Steps to reproduce issue
Run a Windows Buildfarm job. `nightly_win_rep` shows the problem almost reliably, it has happened about 3 times each 14 jobs in the `nightly_win_de

[2022-04-21 18:49] Blast545 commented on #304
Do you think this test failure might be related to this issue?
https://ci.ros2.org/job/nightly_linux_coverage/1584/testReport/junit/launch_testing_ros.test.examples/wait_for_topic_launch_test/wait_for_topic_launch_test/
@sloretz

[2022-04-23 09:13] Keng12 commented on #308
I see. Then I will implement your suggestions and create a PR.

[2022-04-25 21:08] sloretz commented on #312
It looks like `launch` called the `load_node` service for the second node before the first node, despite the action for the first node coming first. I'm checking the code to see if that's expected or not.

[code]

Log statements look like they come from
https://github.com/ros2/launch_ros/blob/d3970e5aa46b1449228f2d01d6b9e05555637d82/launch_ros/launch_ros/actions/load_composable_nodes.py#L135

and

[2022-04-26 15:38] #312 closed

[2022-04-27 19:56] #294 closed

[2022-04-29 00:20] jacobperron commented on #310
Any suggestion for what we could do in launch to workaround the known issue?

[2022-04-29 00:27] jacobperron commented on #310
I guess this affects Galactic (and maybe Humble) too, since they are also using Python 3.8 afaik.

[2022-04-29 19:25] ipa-cmh opened #318 "Action that automatically brings LifecycleNode to active state"
## Feature request

#### Feature description
Handling of LifecycleNodes and especially bringing them to active state is pretty lengthy when writing it in a launch file currently. This should be easier, especially for ease of debugging and development of lifecycle nodes. Preferably a one liner.

#### Implementation considerations
I can think of two implementation options:
* integrated into Lifecycl

[2022-04-29 19:35] Ace314159 commented on #310
I'm not sure how to fix other than just updating to Python 3.9. It might be possible to make the thread a daemon and not use join, but I'm not sure if that would work or have other side effects.

[2022-04-29 21:52] jacobperron commented on #308
Fixed in #314

[2022-04-29 21:52] #308 closed

[2022-05-02 23:48] jacobperron commented on #318
If I understand the request, you are looking for a shortcut to do the following:

[code]

Rather than introducing a special LifeycleNode action, it might be better to just provide some syntactic sugar to replace the two `EmitEvent` actions. Some options I can think of,

1. Add arguments to the existing `LifecycleNode` action to optionally transition to a different state:

[code]
2. Introduce a `Tr

[2022-05-03 06:56] ipa-cmh commented on #318
Regarding the problem description: I have not tested if just emitting events works in all cases. StateChange events are processed asynchronously by the LifecycleNode action, so if we have a node that takes some time to configure the activate event would probably be emitted before the node is in the inactive state and the transition to active state would fail.

I have been using the following code

[2022-05-06 09:31] ipa-cmh commented on #41
I have an experimental, heavily refactored prototype for the launch_ros composition part in https://github.com/ipa-cmh/launch_ros_experimental that does enable this.
It changes quite a lot of things from an architectural standpoint:
* **ComposableNodeContainer:**
  Listens to LoadNodeEvent, then loads the node via request specified in event.
* **ComposableNode now an Action:**
  It waits for the s

[2022-05-12 16:22] Blast545 commented on #304
Today it appeared in the humble coverage job: https://ci.ros2.org/job/nightly_linux_humble_coverage/16/testReport/junit/launch_testing_ros.test.examples/wait_for_topic_launch_test/wait_for_topic_launch_test/

[2022-05-12 16:27] Blast545 commented on #304
It also has been appearing often in the linux_coverage jobs:
https://ci.ros2.org/job/nightly_linux_coverage/1604/testReport/junit/launch_testing_ros.test.examples/wait_for_topic_launch_test/wait_for_topic_launch_test/

[2022-05-24 19:09] SteveMacenski commented on #291
@hidmic I know this is probably low priority, but is this on anyone's radar for an upcoming release. This is a big quality of life issue in trying to debug modest robotic systems

[2022-05-31 21:46] jacobperron commented on #291
I'm not aware of anyone planning to tackle this issue, though I'm happy to review proposals if anyone in the community would like to work on it.

IIUC, errors are communicated via exceptions that [launch catches and logs](https://github.com/ros2/launch/blob/074cd2903ddccd61bce8f40a0f58da0b7c200481/launch/launch/launch_service.py#L344-L347). I guess there are situations where the errors are not bei

[2022-06-01 20:12] SteveMacenski commented on #291
An example is syntactical errors, they result in not super helpful things like below, which in no place give you the line number of the offending object

[code]

[2022-06-03 22:17] jacobperron commented on #291
Identifying line numbers related to syntax issues is probably best as a feature request in the launch repo; certainly a feature worth adding :+1:

[2022-06-03 22:20] jacobperron commented on #291
Here's a relevant ticket: https://github.com/ros2/launch/issues/412
I suppose it extends to Python launch files as well.

[2022-06-07 10:07] roncapat opened #319 "Numbers in scientific notation are not tolerated"
https://github.com/ros2/launch_ros/blob/476ff34b4152c56d5e6c8ce56bf18ccd109cc5dc/launch_ros/launch_ros/utilities/evaluate_parameters.py#L47-L58

This code rejects numeric lists containing numbers in scientific notation, like:
[1.0, 1e-9]

[2022-06-07 12:11] clalancette commented on #319
Are you sure about that?

[code]

Also, if I take that function, put it in a file, and then call it, like the following:
[code]

I get:
[code]

What's the larger problem that you are having?

[2022-06-07 12:18] roncapat commented on #319
The problem is in the ROS components parameter load chain. I think (but now I will give it a try) that scientific numbers are parsed from yaml config files as strings and not floats.

I encountered an error wile switching robot_localization package from being a node to being a component. Small covariances in config file (1e-9) started to throw the exception from evaluate_parameters.py

[2022-06-07 12:20] roncapat commented on #319
I printed `yaml_evaluated_value` variable prior to calling `check_sequence_type_is_allowed()` and got:

`[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, '1e-9', 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0

[2022-06-07 12:31] #319 closed

[2022-06-07 12:37] roncapat commented on #319
Thanks for spotting the issue in the library! I am trying to figure it out (I work with C++ in ROS2 so I need a bit of time to figure out how to efficiently browse `rclpy` code) whether ROS2 rclpy Node implementation uses pyyaml or another implementation to read parameters from files.
Do you know more details about it?

[2022-06-07 12:51] roncapat commented on #319
I digged in rclpy and if you pass a filepath from launch file, rclpy seems to use the rcl implementation (so bypassing PyYAML).

[2022-06-28 10:38] esteve commented on #236
@kenji-miyake I can work on this. What is missing in your branch? How do you think it should continue? Thanks.

[2022-06-29 15:33] Blast545 opened #321 ":man_farmer: `test_launch_ros` test regressions on Foxy `test_launch_ros.test.test_launch_ros.actions.test_node.TestNode.*`"
## Bug report

- Operating System:
  - Focal, Source
- Version or commit hash:
  - `foxy`
- DDS implementation:
  - N/A
- Client library (if applicable):
  - rclpy

#### Steps to reproduce issue
1. Run a Foxy buildfarm job
2. See the new test failures.

#### Expected behavior
All the test passes

#### Actual behavior
Some fail.

#### Additional info
Last time success: https://build.ros2.org/view/F

[2022-07-05 15:43] #321 closed

[2022-07-14 15:58] Blast545 commented on #304
:man_farmer: This error fails with a flaky rate of +- 7%.

References from last month:
https://build.ros2.org/view/Rci/job/Rci__nightly-debug_ubuntu_jammy_amd64/121/
https://build.ros2.org/view/Rci/job/Rci__nightly-debug_ubuntu_jammy_amd64/136/
https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2333/

[2022-07-28 11:49] peredwardsson commented on #232
Any update on this? Quite hard to learn how this package works without being able to read an API. Examples are only good for getting started.

[2022-07-28 23:24] adityapande-1995 commented on #49
We should move this to ``ros2/launch`` since the ``IncludeLaunchDescription`` action lives there.

[2022-09-12 15:20] Crola1702 opened #324 ":man_farmer: Flaky issues with `launch_testing_ros`: `terminate called without an active exception`"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu Jammy
- Installation type:
  - Source, buildfarm
- Version or commit hash:
  - Rolling, master
- DDS implementation:
  - Fast-RTPS, CycloneDDS

#### Steps to reproduce issue

1. Run Linux nightlies multiple times
2. Wait for failures

#### Expected behavior

Build successfully

#### Actual behavior

Failing in `launch_testing_ros` w

[2022-09-16 15:10] Crola1702 commented on #324
It appeared again today in Linux repeated job: [2778](https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2778/)

[2022-09-21 13:31] Crola1702 commented on #324
It appeared again today on Linux repeated job: [2783](https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2783/console)

This one only has `terminate called without an active exception`

[2022-09-29 17:37] Crola1702 commented on #324
It appeared today on Linux repeated job: [2791](https://ci.ros2.org/view/nightly/job/nightly_linux_repeated/2791/)

This one only has `terminate called without an active exception`

[2022-10-04 09:49] esteve commented on #236
@jacobperron I've created a PR based on @kenji-miyake 's work at https://github.com/ros2/launch_ros/pull/327, I'll work on the remaining tasks in separate PRs

[2022-10-04 09:52] esteve commented on #236
@jacobperron I've created https://github.com/ros2/launch/issues/658 to continue the discussion there about the RegisterEventHandler action

[2022-10-12 16:42] stevedanomodolor opened #328 "LaunchConfiguration is not read from ComposableNode when included inside a group action"
## Bug report

**Required Info:**

- Operating System:
  - Ubuntu 22.04.1 LTS
- Installation type:
  - source -> ros2
- Version or commit hash:
  -
- DDS implementation:
  -
- Client library (if applicable):
  - ros2 rolling -> nav2
- Related issue
 - https://github.com/ros-planning/navigation2/pull/3174

#### Steps to reproduce issue

[code]

#### Expected behavior
It should pay attention to the

[2022-10-12 19:24] clalancette commented on #328
So we do have tests to ensure that `condition` works in a `ComposableNode` with `IfCondition` and `UnlessCondition`:

* https://github.com/ros2/launch_ros/blob/73098cfb2ef009b7db822ff9dee12504def814e2/test_launch_ros/test/test_launch_ros/actions/test_composable_node_container.py#L165
* https://github.com/ros2/launch_ros/blob/73098cfb2ef009b7db822ff9dee12504def814e2/test_launch_ros/test/test_launch

[2022-10-19 19:37] acarrillo commented on #232
+1 for published documentation, please! The robotics community at large is still on-ramping into ROS 2; the Python launch syntax is very complicated. If it's going to win favor over the XML declarative style launch file, this is an easy way to lower the friction.

[2022-10-19 20:08] acarrillo commented on #232
@adamsj-ros , it's kind of a hack, but I was able to generate some quick docs from the codebase with `pdoc3`:
[code]

I got a pretty neat fast result:
<img width="1006" alt="image" src="https://user-images.githubusercontent.com/442213/196793432-fe4ce172-f8cc-439e-b977-1ced82aad063.png">

[2022-10-24 14:21] Crola1702 commented on #324
It appeared today on Linux aarch64 repeated job: [2125](https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_repeated/2125/)

Log output:

[2022-10-26 04:26] Amazingmum opened #329 "how to write a launch file to show .xacro or .urdf file to rviz2 for ros-dashing"

[2022-10-26 12:30] clalancette commented on #329
Please open questions like this on https://answers.ros.org, which is our central Question and Answer site.  You'll get a better answer there, and it will be searchable for the future.

Make sure to include a lot of information on what platform you are using, which ROS distribution you are using, and the exact steps you took.

One additional note is that Dashing is no longer supported (and hasn't b

[2022-10-26 12:30] #329 closed

[2022-10-27 12:38] Crola1702 commented on #324
Now It appeared on Linux aarch64 debug: [2144](https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_debug/2144/)

Log output:
[code]

[2022-11-01 21:57] methylDragon commented on #328
The LaunchConfigurationEquals and LaunchConfigurationNotEquals conditions are deprecated.

Try with the EqualsSubstitution instead: https://github.com/ros2/launch/blob/rolling/launch/launch/conditions/launch_configuration_equals.py

[2022-11-02 15:09] Crola1702 commented on #304
Flakiness ratio of the last 2 weeks:

Linux:
* Debug ([2470](https://ci.ros2.org/view/nightly/job/nightly_linux_debug/2470/)): 13.34%

Aarch64:
* Debug ([2151](https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_debug/2151/)): 13.34%

Rhel:
* Debug ([1308](https://ci.ros2.org/view/nightly/job/nightly_linux-rhel_debug/1308/)): 26.68%
* Repeated ([1299](https://ci.ros2.org/view/nightly/job/ni

[2022-11-06 19:45] stevedanomodolor commented on #328
How do i upgrade the launch package to have this changes, it seems that this feature was added not recently. I am using ros2 rolling. @methylDragon

[2022-11-07 06:38] methylDragon commented on #328
Try
[code]

[2022-11-07 18:05] stevedanomodolor commented on #328
I get this when I try to upgrade, is this feature available in ros-rolling yet?
[code]

[2022-11-07 19:14] methylDragon commented on #328
Hmm, you're right. The update was released 5 days ago, but it might take a little while for it to get through to the [main repos](http://repo.ros2.org/status_page/ros_rolling_ujv8.html). It should come out soon though.

[2022-11-08 05:54] ZhenshengLee commented on #41
https://github.com/ros2/launch/issues/672  is related.

I wonder if I should create all issues in this repo, rather than https://github.com/ros2/launch repo?

[2022-11-11 12:32] Crola1702 commented on #324
Happened today in Linux aarch64 debug: [2460](https://ci.ros2.org/view/nightly/job/nightly_linux-aarch64_debug/2160/)

Log output:

[code]

[2022-11-18 03:09] ZhenshengLee commented on #41
@ipa-cmh thanks for your repo!

I've tryied your repo in my project.

It seems that your repo doesnot support Foxy version am I right?

Which versions do you plan to support?

Thanks.

[2022-11-18 03:16] ZhenshengLee commented on #41
Also, `launch_ros.events.lifecycle.matches_node_name($LifecycleNodeComponent$)` doesnot work.

[2022-11-18 15:36] Crola1702 commented on #324
Today it happened in Rolling Release: [264](https://build.ros2.org/view/Rci/job/Rci__nightly-release_ubuntu_jammy_amd64/264/)

Log output:
[code]

[2022-11-21 13:56] Crola1702 commented on #324
Today it happened on Rolling Release: [267](https://build.ros2.org/view/Rci/job/Rci__nightly-release_ubuntu_jammy_amd64/267/)

[code]